@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutSite.cshtml";
    var ListProject = ViewBag.ListProject;
    var ddlListUnitStatus = ViewBag.DDLList;
}
@model List<Project.ConstructionTracking.Web.Models.StoreProcedureModel.UnitStatusModel>


<div class="page-wrapper">
    <div class="page-header d-print-none">
        <div class="card bg-primary text-primary-fg">
            <div class="card-stamp">
                <div class="card-stamp-icon bg-white text-primary">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-home-heart">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                        <path d="M21 12l-9 -9l-9 9h2v7a2 2 0 0 0 2 2h6" />
                        <path d="M9 21v-6a2 2 0 0 1 2 -2h2c.39 0 .754 .112 1.061 .304" />
                        <path d="M19 21.5l2.518 -2.58a1.74 1.74 0 0 0 0 -2.413a1.627 1.627 0 0 0 -2.346 0l-.168 .172l-.168 -.172a1.627 1.627 0 0 0 -2.346 0a1.74 1.74 0 0 0 0 2.412l2.51 2.59z" />
                    </svg>
                </div>
            </div>
            <div class="card-body">
                <h1>หน้าจอ Unit status แสดงทั้งโครงการ(show on website)</h1>
            </div>
        </div>
    </div>
    <div class="page-body">
        <div class="container mt-3">
            <div class="col-12">
                <div class="card-body">
                    <form id="form-search" method="post">
                        <div class="row">
                            <div class="col-6">
                                <div class="mb-3">
                                    <label class="form-label"><h3>โครงการ</h3></label>
                                    <select class="form-select" name="selectedProject">
                                        @foreach (var item in ListProject)
                                        {
                                            <option value="@item.ValueGuid">@item.Text</option>
                                        }
                                    </select>
                                </div>
                            </div>
                            <div class="col-3">
                                <div class="mb-3">
                                    <label class="form-label"><h3>สถานะขาย</h3></label>
                                    <select class="form-select" name="selectedUnitStatus">
                                        <option value="">ทั้งหมด</option>
                                        @foreach (var item in ddlListUnitStatus)
                                        {
                                            <option value="@item.Value">@item.Text</option>
                                        }
                                    </select>
                                </div>
                            </div>
                            <div class="col-3">
                                <div class="mb-3">
                                    <label class="form-label"><h3>สถานะก่อสร้าง</h3></label>
                                    <div class="row g-2">
                                        <div class="col">
                                            <select class="form-select" name="selectedBuildStatus">
                                                <option value="">ทั้งหมด</option>
                                                <option value="บ้านเสร็จ">บ้านเสร็จ</option>
                                                <option value="อยู่ระหว่างก่อสร้าง">อยู่ระหว่างก่อสร้าง</option>
                                                <option value="บ้านเสร็จ">บ้านเสร็จ</option>
                                            </select>
                                        </div>
                                        <div class="col-auto">
                                            <button type="submit" class="btn btn-icon" aria-label="Button">
                                                <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                                    <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                                                    <path d="M10 10m-7 0a7 7 0 1 0 14 0a7 7 0 1 0 -14 0" />
                                                    <path d="M21 21l-6 -6" />
                                                </svg>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                    <div class="collapse" id="collapseExample">
                      <div class="card card-body">
                            <div class="row">
                                <div class="col-3">
                                    <div class="mb-3">
                                        <label class="form-label">ตัวอย่างค้นหา</label>
                                        <select class="form-select">
                                            <option value="1">ค้นหา 1 </option>
                                            <option value="2">ค้นหา 2</option>
                                            <option value="3">ค้นหา 3</option>
                                            <option value="4">ค้นหา 4</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-3">
                                    <div class="mb-3">
                                        <label class="form-label">ตัวอย่างค้นหา</label>
                                        <select class="form-select">
                                            <option value="1">ว่าง</option>
                                            <option value="2">จอง</option>
                                            <option value="3">สัญญา</option>
                                            <option value="4">โอน</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="mb-3">
                                        <label class="form-label">ตัวอย่างค้นหา</label>
                                        <div class="row g-2">
                                            <div class="col">
                                                <input type="text" name="Search" class="form-control" placeholder="Search for…">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                      </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container mt-3" id="PartialTable">
            <partial name="PartialTable" model="Model" />
        </div>
    </div>
</div>

@section scripts {
    <script>
        $(document).ready(function () {
            setDatatable();

            $('#form-search').on('submit', function (event) {
                event.preventDefault();
                var projectId = $('#form-search select[name="selectedProject"]').val() || "";
                var unitStatus = $('#form-search select[name="selectedUnitStatus"]').val() || "";
                var buildStatus = $('#form-search select[name="selectedBuildStatus"]').val() || "";

                $.ajax({
                    url: baseUrl + 'UnitStatusByProject/SearchUnitStatusByProject', // Use the base URL dynamically
                    type: 'POST',
                    data: {
                        projectId: projectId,
                        unitStatus: unitStatus,
                        buildStatus: buildStatus
                    },
                    success: function (response) {
                        $('#PartialTable').html(response);
                        setDatatable();
                    },
                    error: function () {
                        console.error('Error fetching data');
                    }
                });
                return false;
            });


        });

        function setDatatable() { 
            $('#example').DataTable({
                "paging": true,
                "lengthChange": true,
                "searching": true,
                "ordering": true,
                "info": true,
                "autoWidth": false,
                "responsive": true,
                "lengthMenu": [[10, 25, 50, -1], [10, 25, 50, "All"]],
                "language": {
                    "lengthMenu": "Show _MENU_ rows per page",
                    "zeroRecords": "No matching records found",
                    "info": "Showing page _PAGE_ of _PAGES_",
                    "infoEmpty": "No records available",
                    "infoFiltered": "(filtered from _MAX_ total records)"
                }
            });
        }
    </script>
}
