@*<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">*@
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.25/css/dataTables.bootstrap4.min.css">
<script src="https://kit.fontawesome.com/21fea36ed8.js" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.25/js/dataTables.bootstrap4.min.js"></script>

<style>
        #custom-card {
            background: #fff;
            border-radius: 8px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            padding: 20px;
        }

    .dataTables_wrapper .dataTables_length, 
        .dataTables_wrapper .dataTables_filter {
            margin-bottom: 5px;
        }
        .dataTables_wrapper .dataTables_length select {
            border: 5px solid #dee2e6;
            border-radius: 8px;
            padding: 10px;
            margin-left: 10px;
        }
        .dataTables_wrapper .dataTables_filter input {
            border: 1px solid #dee2e6;
            border-radius: 4px;
            padding: 5px;
            margin-left: 5px;
        }

    .table-responsive {
        width: 100%;
        margin: 20px 0;
        border-collapse: collapse;
    }

    .custom-table {
        width: 100%;
        border-collapse: collapse;
        border-spacing: 0;
        box-shadow: 0 0 20px rgba(0,0,0,0.1);
        font-size: 12px; /* Smaller text size */
    }

        .custom-table td {
            padding: 6px 8px;
            text-align: left;
            border: 1px solid #dee2e6;
        }

        .custom-table th {
            background-color: #f8f9fa;
            font-size: 12px;
            border: 1px solid #050505;
            text-align: center;
        }

        .custom-table tbody tr:hover {
            background-color: #eff584;
        }

</style>
<div class="card" id="custom-card">
    <div class="table-responsive">
    <table id="example" class="custom-table">
            <thead>
                <tr>
                    <th>
                        Unit
                    </th>
                    <th>
                        Type บ้าน
                    </th>
                    <th>
                        ประเภทบ้าน
                    </th>
                    <th>
                        สถานะขาย
                    </th>
                    <th>
                        สถานะก่อสร้าง
                    </th>
                    <th>
                        แผนเริ่ม
                    </th>
                    <th>
                        แผนเสร็จ
                    </th>
                    <th>
                        งวดงานตามแผน
                    </th>
                    <th>
                        งวดงานตามจริง
                    </th>
                    <th title="ร้อยละของการคืบหน้าตามแผน">% Progress ตามแผน</th>
                    <th title="ร้อยละของการคืบหน้าตามจริง">% Progress ตามจริง</th>
                    <th title="การเลื่อนหรือเร่งงานตามสถานะปัจจุบัน">Delay/Ahead ณ ปัจจุบัน</th>
                    <th title="จำนวนวันที่คาดว่าจะใช้ในการก่อสร้างตามแผน">จำนวนวันก่อสร้างตามแผน</th>
                    <th title="จำนวนวันที่ใช้ไปจริงในการก่อสร้าง">จำนวนวันที่ใช้จริง</th>
                </tr>
            </thead>
            <tbody>
                    <tr>
                        <td>
                            A001 <a href="#"><i class="fa-solid fa-magnifying-glass"></i></a>
                        </td>
                        <td>CH2012-1</td>
                        <td>บ้านเดี่ยว 2 ชั้น</td>
                        <td>บ้านว่าง</td>
                        <td>ระหว่างก่อสร้าง</td>
                        <td>1/1/2567</td>
                        <td>30/6/2567</td>
                        <td>งวดที่ 4</td>
                        <td>งวดที่ 3</td>
                        <td>40%</td>
                        <td>30%</td>
                        <td>-10%</td>
                        <td>180</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>
                            B002 <a href="#"><i class="fa-solid fa-magnifying-glass"></i></a>
                        </td>
                        <td>CH2013-2</td>
                        <td>บ้านแฝด</td>
                        <td>ขายแล้ว</td>
                        <td>เสร็จสิ้น</td>
                        <td>1/3/2567</td>
                        <td>1/9/2567</td>
                        <td>งวดที่ 6</td>
                        <td>งวดที่ 6</td>
                        <td>100%</td>
                        <td>100%</td>
                        <td>0%</td>
                        <td>180</td>
                        <td>180</td>
                    </tr>
                    <tr>
                        <td>
                            C003 <a href="#"><i class="fa-solid fa-magnifying-glass"></i></a>
                        </td>
                        <td>CH2014-3</td>
                        <td>ทาวน์เฮ้าส์</td>
                        <td>บ้านว่าง</td>
                        <td>รอเริ่มงาน</td>
                        <td>1/5/2567</td>
                        <td>31/10/2567</td>
                        <td>งวดที่ 1</td>
                        <td>งวดที่ 0</td>
                        <td>0%</td>
                        <td>0%</td>
                        <td>0%</td>
                        <td>180</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>
                            D004 <a href="#"><i class="fa-solid fa-magnifying-glass"></i></a>
                        </td>
                        <td>CH2015-4</td>
                        <td>บ้านเดี่ยว 2 ชั้น</td>
                        <td>ขายแล้ว</td>
                        <td>ระหว่างก่อสร้าง</td>
                        <td>1/2/2567</td>
                        <td>31/7/2567</td>
                        <td>งวดที่ 5</td>
                        <td>งวดที่ 4</td>
                        <td>50%</td>
                        <td>40%</td>
                        <td>-10%</td>
                        <td>180</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>
                            E005 <a href="#"><i class="fa-solid fa-magnifying-glass"></i></a>
                        </td>
                        <td>CH2016-5</td>
                        <td>บ้านแฝด</td>
                        <td>บ้านว่าง</td>
                        <td>ระหว่างก่อสร้าง</td>
                        <td>1/4/2567</td>
                        <td>30/9/2567</td>
                        <td>งวดที่ 3</td>
                        <td>งวดที่ 2</td>
                        <td>30%</td>
                        <td>20%</td>
                        <td>-10%</td>
                        <td>180</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>
                            F006 <a href="#"><i class="fa-solid fa-magnifying-glass"></i></a>
                        </td>
                        <td>CH2017-6</td>
                        <td>บ้านเดี่ยว 3 ชั้น</td>
                        <td>บ้านว่าง</td>
                        <td>ระหว่างก่อสร้าง</td>
                        <td>1/5/2567</td>
                        <td>30/11/2567</td>
                        <td>งวดที่ 4</td>
                        <td>งวดที่ 3</td>
                        <td>40%</td>
                        <td>30%</td>
                        <td>-10%</td>
                        <td>210</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>
                            G007 <a href="#"><i class="fa-solid fa-magnifying-glass"></i></a>
                        </td>
                        <td>CH2018-7</td>
                        <td>บ้านแฝด</td>
                        <td>ขายแล้ว</td>
                        <td>เสร็จสิ้น</td>
                        <td>1/6/2567</td>
                        <td>31/12/2567</td>
                        <td>งวดที่ 6</td>
                        <td>งวดที่ 6</td>
                        <td>100%</td>
                        <td>100%</td>
                        <td>0%</td>
                        <td>180</td>
                        <td>180</td>
                    </tr>
                    <tr>
                        <td>
                            H008 <a href="#"><i class="fa-solid fa-magnifying-glass"></i></a>
                        </td>
                        <td>CH2019-8</td>
                        <td>ทาวน์เฮ้าส์</td>
                        <td>บ้านว่าง</td>
                        <td>รอเริ่มงาน</td>
                        <td>1/7/2567</td>
                        <td>31/1/2568</td>
                        <td>งวดที่ 1</td>
                        <td>งวดที่ 0</td>
                        <td>0%</td>
                        <td>0%</td>
                        <td>0%</td>
                        <td>180</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>
                            I009 <a href="#"><i class="fa-solid fa-magnifying-glass"></i></a>
                        </td>
                        <td>CH2020-9</td>
                        <td>บ้านเดี่ยว 2 ชั้น</td>
                        <td>ขายแล้ว</td>
                        <td>ระหว่างก่อสร้าง</td>
                        <td>1/8/2567</td>
                        <td>31/2/2568</td>
                        <td>งวดที่ 5</td>
                        <td>งวดที่ 4</td>
                        <td>50%</td>
                        <td>40%</td>
                        <td>-10%</td>
                        <td>180</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>
                            J010 <a href="#"><i class="fa-solid fa-magnifying-glass"></i></a>
                        </td>
                        <td>CH2021-10</td>
                        <td>บ้านแฝด</td>
                        <td>บ้านว่าง</td>
                        <td>ระหว่างก่อสร้าง</td>
                        <td>1/9/2567</td>
                        <td>30/3/2568</td>
                        <td>งวดที่ 3</td>
                        <td>งวดที่ 2</td>
                        <td>30%</td>
                        <td>20%</td>
                        <td>-10%</td>
                        <td>180</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>
                            K011 <a href="#"><i class="fa-solid fa-magnifying-glass"></i></a>
                        </td>
                        <td>CH2022-11</td>
                        <td>บ้านเดี่ยว 3 ชั้น</td>
                        <td>บ้านว่าง</td>
                        <td>ระหว่างก่อสร้าง</td>
                        <td>1/10/2567</td>
                        <td>30/4/2568</td>
                        <td>งวดที่ 4</td>
                        <td>งวดที่ 3</td>
                        <td>40%</td>
                        <td>30%</td>
                        <td>-10%</td>
                        <td>210</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>
                            L012 <a href="#"><i class="fa-solid fa-magnifying-glass"></i></a>
                        </td>
                        <td>CH2023-12</td>
                        <td>บ้านแฝด</td>
                        <td>ขายแล้ว</td>
                        <td>เสร็จสิ้น</td>
                        <td>1/11/2567</td>
                        <td>31/5/2568</td>
                        <td>งวดที่ 6</td>
                        <td>งวดที่ 6</td>
                        <td>100%</td>
                        <td>100%</td>
                        <td>0%</td>
                        <td>180</td>
                        <td>180</td>
                    </tr>
                    <tr>
                        <td>
                            M013 <a href="#"><i class="fa-solid fa-magnifying-glass"></i></a>
                        </td>
                        <td>CH2024-13</td>
                        <td>ทาวน์เฮ้าส์</td>
                        <td>บ้านว่าง</td>
                        <td>รอเริ่มงาน</td>
                        <td>1/12/2567</td>
                        <td>31/6/2568</td>
                        <td>งวดที่ 1</td>
                        <td>งวดที่ 0</td>
                        <td>0%</td>
                        <td>0%</td>
                        <td>0%</td>
                        <td>180</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>
                            N014 <a href="#"><i class="fa-solid fa-magnifying-glass"></i></a>
                        </td>
                        <td>CH2025-14</td>
                        <td>บ้านเดี่ยว 2 ชั้น</td>
                        <td>ขายแล้ว</td>
                        <td>ระหว่างก่อสร้าง</td>
                        <td>1/1/2568</td>
                        <td>30/7/2568</td>
                        <td>งวดที่ 5</td>
                        <td>งวดที่ 4</td>
                        <td>50%</td>
                        <td>40%</td>
                        <td>-10%</td>
                        <td>180</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>
                            O015 <a href="#"><i class="fa-solid fa-magnifying-glass"></i></a>
                        </td>
                        <td>CH2026-15</td>
                        <td>บ้านแฝด</td>
                        <td>บ้านว่าง</td>
                        <td>ระหว่างก่อสร้าง</td>
                        <td>1/2/2568</td>
                        <td>31/8/2568</td>
                        <td>งวดที่ 3</td>
                        <td>งวดที่ 2</td>
                        <td>30%</td>
                        <td>20%</td>
                        <td>-10%</td>
                        <td>180</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>
                            P016 <a href="#"><i class="fa-solid fa-magnifying-glass"></i></a>
                        </td>
                        <td>CH2027-16</td>
                        <td>บ้านเดี่ยว 3 ชั้น</td>
                        <td>บ้านว่าง</td>
                        <td>ระหว่างก่อสร้าง</td>
                        <td>1/3/2568</td>
                        <td>30/9/2568</td>
                        <td>งวดที่ 4</td>
                        <td>งวดที่ 3</td>
                        <td>40%</td>
                        <td>30%</td>
                        <td>-10%</td>
                        <td>210</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>
                            Q017 <a href="#"><i class="fa-solid fa-magnifying-glass"></i></a>
                        </td>
                        <td>CH2028-17</td>
                        <td>บ้านแฝด</td>
                        <td>ขายแล้ว</td>
                        <td>เสร็จสิ้น</td>
                        <td>1/4/2568</td>
                        <td>31/10/2568</td>
                        <td>งวดที่ 6</td>
                        <td>งวดที่ 6</td>
                        <td>100%</td>
                        <td>100%</td>
                        <td>0%</td>
                        <td>180</td>
                        <td>180</td>
                    </tr>
                    <tr>
                        <td>
                            R018 <a href="#"><i class="fa-solid fa-magnifying-glass"></i></a>
                        </td>
                        <td>CH2029-18</td>
                        <td>ทาวน์เฮ้าส์</td>
                        <td>บ้านว่าง</td>
                        <td>รอเริ่มงาน</td>
                        <td>1/5/2568</td>
                        <td>31/11/2568</td>
                        <td>งวดที่ 1</td>
                        <td>งวดที่ 0</td>
                        <td>0%</td>
                        <td>0%</td>
                        <td>0%</td>
                        <td>180</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>
                            S019 <a href="#"><i class="fa-solid fa-magnifying-glass"></i></a>
                        </td>
                        <td>CH2030-19</td>
                        <td>บ้านเดี่ยว 2 ชั้น</td>
                        <td>ขายแล้ว</td>
                        <td>ระหว่างก่อสร้าง</td>
                        <td>1/6/2568</td>
                        <td>31/12/2568</td>
                        <td>งวดที่ 5</td>
                        <td>งวดที่ 4</td>
                        <td>50%</td>
                        <td>40%</td>
                        <td>-10%</td>
                        <td>180</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>
                            T020 <a href="#"><i class="fa-solid fa-magnifying-glass"></i></a>
                        </td>
                        <td>CH2031-20</td>
                        <td>บ้านแฝด</td>
                        <td>บ้านว่าง</td>
                        <td>ระหว่างก่อสร้าง</td>
                        <td>1/7/2568</td>
                        <td>30/1/2569</td>
                        <td>งวดที่ 3</td>
                        <td>งวดที่ 2</td>
                        <td>30%</td>
                        <td>20%</td>
                        <td>-10%</td>
                        <td>180</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>
                            U021 <a href="#"><i class="fa-solid fa-magnifying-glass"></i></a>
                        </td>
                        <td>CH2032-21</td>
                        <td>บ้านเดี่ยว 3 ชั้น</td>
                        <td>บ้านว่าง</td>
                        <td>ระหว่างก่อสร้าง</td>
                        <td>1/8/2568</td>
                        <td>30/2/2569</td>
                        <td>งวดที่ 4</td>
                        <td>งวดที่ 3</td>
                        <td>40%</td>
                        <td>30%</td>
                        <td>-10%</td>
                        <td>210</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>
                            V022 <a href="#"><i class="fa-solid fa-magnifying-glass"></i></a>
                        </td>
                        <td>CH2033-22</td>
                        <td>บ้านแฝด</td>
                        <td>ขายแล้ว</td>
                        <td>เสร็จสิ้น</td>
                        <td>1/9/2568</td>
                        <td>31/3/2569</td>
                        <td>งวดที่ 6</td>
                        <td>งวดที่ 6</td>
                        <td>100%</td>
                        <td>100%</td>
                        <td>0%</td>
                        <td>180</td>
                        <td>180</td>
                    </tr>
            </tbody>
        </table>
    </div>
</div>

