@{
    ViewData["Title"] = "Check";
    Layout = "~/Views/Shared/_LayoutSite.cshtml";
}

<!-- Content Header (Page header) -->
<div class="page-wrapper">
    <!-- Page header -->
    <div class="page-header d-print-none">
        <div class="container-xl">
        <div class="row g-2 align-items-center">
            <div class="col">
            <h2 class="page-title">
                งวดงานที่ 1 งาน วางผัง ฐานราก คานคอดินและเสาชั้นล่าง แล้วเสร็จ
            </h2>
            </div>
        </div>
        </div>
    </div>
    <!-- Page body -->
    <div class="page-body">
        <div class="container-xl">
            <div class="col-12">
                <form action="https://httpbin.org/post" method="post" class="card">
                    <div class="card-body">
                        <div class="container my-4">
                        <style>
                            .bg-yellow {
                                background-color: yellow;
                            }

                            .bg-lightblue {
                                background-color: lightblue;
                            }

                            .table-bordered {
                                border: 1px solid black;
                            }

                                .table-bordered th, .table-bordered td {
                                    border: 1px solid black;
                                }
                        </style>
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th class="bg-yellow" rowspan="2">
                                        <h3 class="card-title">
                                            งวดที่ 1
                                        </h3>
                                    </th>
                                    <th class="bg-lightblue" colspan="2">
                                        <h3 class="card-title">
                                            งาน วางผัง ฐานราก คานคอดินและเสาตอม่อ แล้วเสร็จ
                                        </h3>
                                    </th>
                                    <th colspan="2">
                                        <h3 class="card-title">
                                             ผลการตรวจ
                                        </h3>
                                    </th>
                                </tr>
                                <tr>
                                    <th>
                                        <h3 class="card-title">
                                            รายการตรวจหลัก
                                        </h3>
                                    </th>
                                    <th>
                                        <h3 class="card-title">
                                            รายการตรวจย่อย
                                        </h3>
                                    </th>
                                    <th>
                                        <h3 class="card-title">
                                            ผ่าน
                                        </h3>
                                    </th>
                                    <th>
                                        <h3 class="card-title">
                                            ไม่ผ่าน
                                        </h3>
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td rowspan="15">ส่วนที่ 1 รายงานขออนุมัติทำการงาน</td>
                                    <td rowspan="7">ฐานราก</td>
                                    <td>ตัดเสาเข็ม</td>
                                    <td>
                                        <div class="col-auto">
                                            <label class="form-colorinput">
                                                <input name="color" type="radio" value="1" class="form-colorinput-input" />
                                                <span class="form-colorinput-color bg-lime"></span>
                                            </label>
                                        </div>
                                    </td>
                                    <td>
                                      <div class="col-auto">
                                        <label class="form-colorinput">
                                          <input name="color" type="radio" value="0" class="form-colorinput-input" />
                                          <span class="form-colorinput-color bg-red"></span>
                                        </label>
                                      </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>pile deviate</td>
                                    <td>
                                        <div class="col-auto">
                                            <label class="form-colorinput">
                                                <input name="color" type="radio" value="1" class="form-colorinput-input" />
                                                <span class="form-colorinput-color bg-lime"></span>
                                            </label>
                                        </div>
                                    </td>
                                    <td>
                                      <div class="col-auto">
                                        <label class="form-colorinput">
                                          <input name="color" type="radio" value="0" class="form-colorinput-input" />
                                          <span class="form-colorinput-color bg-red"></span>
                                        </label>
                                      </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Seismic test</td>
                                    <td>
                                        <div class="col-auto">
                                            <label class="form-colorinput">
                                                <input name="color" type="radio" value="1" class="form-colorinput-input" />
                                                <span class="form-colorinput-color bg-lime"></span>
                                            </label>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="col-auto">
                                            <label class="form-colorinput">
                                                <input name="color" type="radio" value="0" class="form-colorinput-input" />
                                                <span class="form-colorinput-color bg-red"></span>
                                            </label>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>คอนกรีตหยาบ</td>
                                    <td>
                                        <div class="col-auto">
                                            <label class="form-colorinput">
                                                <input name="color" type="radio" value="1" class="form-colorinput-input" />
                                                <span class="form-colorinput-color bg-lime"></span>
                                            </label>
                                        </div>
                                    </td>
                                    <td>
                                      <div class="col-auto">
                                        <label class="form-colorinput">
                                          <input name="color" type="radio" value="0" class="form-colorinput-input" />
                                          <span class="form-colorinput-color bg-red"></span>
                                        </label>
                                      </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>หัวเข็ม</td>
                                    <td>
                                        <div class="col-auto">
                                            <label class="form-colorinput">
                                                <input name="color" type="radio" value="1" class="form-colorinput-input" />
                                                <span class="form-colorinput-color bg-lime"></span>
                                            </label>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="col-auto">
                                            <label class="form-colorinput">
                                                <input name="color" type="radio" value="0" class="form-colorinput-input" />
                                                <span class="form-colorinput-color bg-red"></span>
                                            </label>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>เหล็กเสริม-ลูกปูน </td>
                                     <td>
                                        <div class="col-auto">
                                            <label class="form-colorinput">
                                                <input name="color" type="radio" value="1" class="form-colorinput-input" />
                                                <span class="form-colorinput-color bg-lime"></span>
                                            </label>
                                        </div>
                                    </td>
                                    <td>
                                      <div class="col-auto">
                                        <label class="form-colorinput">
                                          <input name="color" type="radio" value="0" class="form-colorinput-input" />
                                          <span class="form-colorinput-color bg-red"></span>
                                        </label>
                                      </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>ระยะ-ขนาด-ระดับ</td>
                                    <td>
                                        <div class="col-auto">
                                            <label class="form-colorinput">
                                                <input name="color" type="radio" value="1" class="form-colorinput-input" />
                                                <span class="form-colorinput-color bg-lime"></span>
                                            </label>
                                        </div>
                                    </td>
                                    <td>
                                      <div class="col-auto">
                                        <label class="form-colorinput">
                                          <input name="color" type="radio" value="0" class="form-colorinput-input" />
                                          <span class="form-colorinput-color bg-red"></span>
                                        </label>
                                      </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td rowspan="4">คานชั้นล่าง</td>
                                    <td>ระดับหลัง-แนวข้างคาน</td>
                                    <td>
                                        <div class="col-auto">
                                            <label class="form-colorinput">
                                                <input name="color" type="radio" value="1" class="form-colorinput-input" />
                                                <span class="form-colorinput-color bg-lime"></span>
                                            </label>
                                        </div>
                                    </td>
                                    <td>
                                      <div class="col-auto">
                                        <label class="form-colorinput">
                                          <input name="color" type="radio" value="0" class="form-colorinput-input" />
                                          <span class="form-colorinput-color bg-red"></span>
                                        </label>
                                      </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>ผิวคอนกรีต</td>
                                    <td>
                                        <div class="col-auto">
                                            <label class="form-colorinput">
                                                <input name="color" type="radio" value="1" class="form-colorinput-input" />
                                                <span class="form-colorinput-color bg-lime"></span>
                                            </label>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="col-auto">
                                            <label class="form-colorinput">
                                                <input name="color" type="radio" value="0" class="form-colorinput-input" />
                                                <span class="form-colorinput-color bg-red"></span>
                                            </label>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>เหล็กบันได+พื้น+ครีบ</td>
                                    <td>
                                        <div class="col-auto">
                                            <label class="form-colorinput">
                                                <input name="color" type="radio" value="1" class="form-colorinput-input" />
                                                <span class="form-colorinput-color bg-lime"></span>
                                            </label>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="col-auto">
                                            <label class="form-colorinput">
                                                <input name="color" type="radio" value="0" class="form-colorinput-input" />
                                                <span class="form-colorinput-color bg-red"></span>
                                            </label>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>ความแข็งแรงคอนกรีต (ตาม strength ผู้ออกแบบ)</td>
                                    <td>
                                        <div class="col-auto">
                                            <label class="form-colorinput">
                                                <input name="color" type="radio" value="1" class="form-colorinput-input" />
                                                <span class="form-colorinput-color bg-lime"></span>
                                            </label>
                                        </div>
                                    </td>
                                    <td>
                                      <div class="col-auto">
                                        <label class="form-colorinput">
                                          <input name="color" type="radio" value="0" class="form-colorinput-input" />
                                          <span class="form-colorinput-color bg-red"></span>
                                        </label>
                                      </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td rowspan="4">เสาชั้นล่าง</td>
                                    <td>ดิ่ง-ระดับหัวเสา</td>
                                    <td>
                                        <div class="col-auto">
                                            <label class="form-colorinput">
                                                <input name="color" type="radio" value="1" class="form-colorinput-input" />
                                                <span class="form-colorinput-color bg-lime"></span>
                                            </label>
                                        </div>
                                    </td>
                                    <td>
                                      <div class="col-auto">
                                        <label class="form-colorinput">
                                          <input name="color" type="radio" value="0" class="form-colorinput-input" />
                                          <span class="form-colorinput-color bg-red"></span>
                                        </label>
                                      </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>ผิวคอนกรีต</td>
                                    <td>
                                        <div class="col-auto">
                                            <label class="form-colorinput">
                                                <input name="color" type="radio" value="1" class="form-colorinput-input" />
                                                <span class="form-colorinput-color bg-lime"></span>
                                            </label>
                                        </div>
                                    </td>
                                    <td>
                                      <div class="col-auto">
                                        <label class="form-colorinput">
                                          <input name="color" type="radio" value="0" class="form-colorinput-input" />
                                          <span class="form-colorinput-color bg-red"></span>
                                        </label>
                                      </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>เหล็กบันได+ทับหลัง</td>
                                    <td>
                                        <div class="col-auto">
                                            <label class="form-colorinput">
                                                <input name="color" type="radio" value="1" class="form-colorinput-input" />
                                                <span class="form-colorinput-color bg-lime"></span>
                                            </label>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="col-auto">
                                            <label class="form-colorinput">
                                                <input name="color" type="radio" value="0" class="form-colorinput-input" />
                                                <span class="form-colorinput-color bg-red"></span>
                                            </label>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>ความแข็งแรงคอนกรีต (ตาม strength ผู้ออกแบบ)</td>
                                    <td>
                                        <div class="col-auto">
                                            <label class="form-colorinput">
                                                <input name="color" type="radio" value="1" class="form-colorinput-input" />
                                                <span class="form-colorinput-color bg-lime"></span>
                                            </label>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="col-auto">
                                            <label class="form-colorinput">
                                                <input name="color" type="radio" value="0" class="form-colorinput-input" />
                                                <span class="form-colorinput-color bg-red"></span>
                                            </label>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td rowspan="11">ส่วนที่ 2 รายการตรวจสอบ</td>
                                    <td rowspan="3">ฐานราก</td>
                                    <td>ระดับหลังฐานราก</td>
                                    <td>
                                        <div class="col-auto">
                                            <label class="form-colorinput">
                                                <input name="color" type="radio" value="1" class="form-colorinput-input" />
                                                <span class="form-colorinput-color bg-lime"></span>
                                            </label>
                                        </div>
                                    </td>
                                    <td>
                                      <div class="col-auto">
                                        <label class="form-colorinput">
                                          <input name="color" type="radio" value="0" class="form-colorinput-input" />
                                          <span class="form-colorinput-color bg-red"></span>
                                        </label>
                                      </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>ผิวคอนกรีต</td>
                                    <td>
                                        <div class="col-auto">
                                            <label class="form-colorinput">
                                                <input name="color" type="radio" value="1" class="form-colorinput-input" />
                                                <span class="form-colorinput-color bg-lime"></span>
                                            </label>
                                        </div>
                                    </td>
                                    <td>
                                      <div class="col-auto">
                                        <label class="form-colorinput">
                                          <input name="color" type="radio" value="0" class="form-colorinput-input" />
                                          <span class="form-colorinput-color bg-red"></span>
                                        </label>
                                      </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>ความแข็งแรงคอนกรีต (ตาม strength ผู้ออกแบบ)</td>
                                    <td>
                                        <div class="col-auto">
                                            <label class="form-colorinput">
                                                <input name="color" type="radio" value="1" class="form-colorinput-input" />
                                                <span class="form-colorinput-color bg-lime"></span>
                                            </label>
                                        </div>
                                    </td>
                                    <td>
                                      <div class="col-auto">
                                        <label class="form-colorinput">
                                          <input name="color" type="radio" value="0" class="form-colorinput-input" />
                                          <span class="form-colorinput-color bg-red"></span>
                                        </label>
                                      </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td rowspan="4">คานชั้นล่าง</td>
                                    <td>ระดับหลัง-แนวข้างคาน</td>
                                    <td>
                                        <div class="col-auto">
                                            <label class="form-colorinput">
                                                <input name="color" type="radio" value="1" class="form-colorinput-input" />
                                                <span class="form-colorinput-color bg-lime"></span>
                                            </label>
                                        </div>
                                    </td>
                                    <td>
                                      <div class="col-auto">
                                        <label class="form-colorinput">
                                          <input name="color" type="radio" value="0" class="form-colorinput-input" />
                                          <span class="form-colorinput-color bg-red"></span>
                                        </label>
                                      </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>ผิวคอนกรีต</td>
                                    <td>
                                        <div class="col-auto">
                                            <label class="form-colorinput">
                                                <input name="color" type="radio" value="1" class="form-colorinput-input" />
                                                <span class="form-colorinput-color bg-lime"></span>
                                            </label>
                                        </div>
                                    </td>
                                    <td>
                                      <div class="col-auto">
                                        <label class="form-colorinput">
                                          <input name="color" type="radio" value="0" class="form-colorinput-input" />
                                          <span class="form-colorinput-color bg-red"></span>
                                        </label>
                                      </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>เหล็กบันได+พื้น+ครีบ</td>
                                    <td>
                                        <div class="col-auto">
                                            <label class="form-colorinput">
                                                <input name="color" type="radio" value="1" class="form-colorinput-input" />
                                                <span class="form-colorinput-color bg-lime"></span>
                                            </label>
                                        </div>
                                    </td>
                                    <td>
                                      <div class="col-auto">
                                        <label class="form-colorinput">
                                          <input name="color" type="radio" value="0" class="form-colorinput-input" />
                                          <span class="form-colorinput-color bg-red"></span>
                                        </label>
                                      </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>ความแข็งแรงคอนกรีต (ตาม strength ผู้ออกแบบ)</td>
                                    <td>
                                        <div class="col-auto">
                                            <label class="form-colorinput">
                                                <input name="color" type="radio" value="1" class="form-colorinput-input" />
                                                <span class="form-colorinput-color bg-lime"></span>
                                            </label>
                                        </div>
                                    </td>
                                    <td>
                                      <div class="col-auto">
                                        <label class="form-colorinput">
                                          <input name="color" type="radio" value="0" class="form-colorinput-input" />
                                          <span class="form-colorinput-color bg-red"></span>
                                        </label>
                                      </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td rowspan="4">เสาชั้นล่าง</td>
                                    <td>ดิ่ง-ระดับหัวเสา</td>
                                    <td>
                                        <div class="col-auto">
                                            <label class="form-colorinput">
                                                <input name="color" type="radio" value="1" class="form-colorinput-input" />
                                                <span class="form-colorinput-color bg-lime"></span>
                                            </label>
                                        </div>
                                    </td>
                                    <td>
                                      <div class="col-auto">
                                        <label class="form-colorinput">
                                          <input name="color" type="radio" value="0" class="form-colorinput-input" />
                                          <span class="form-colorinput-color bg-red"></span>
                                        </label>
                                      </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>ผิวคอนกรีต</td>
                                    <td>
                                        <div class="col-auto">
                                            <label class="form-colorinput">
                                                <input name="color" type="radio" value="1" class="form-colorinput-input" />
                                                <span class="form-colorinput-color bg-lime"></span>
                                            </label>
                                        </div>
                                    </td>
                                    <td>
                                      <div class="col-auto">
                                        <label class="form-colorinput">
                                          <input name="color" type="radio" value="0" class="form-colorinput-input" />
                                          <span class="form-colorinput-color bg-red"></span>
                                        </label>
                                      </div>
                                    </td>
                               </tr>
                                <tr>
                                    <td>เหล็กบันได+ทับหลัง</td>
                                    <td>
                                        <div class="col-auto">
                                            <label class="form-colorinput">
                                                <input name="color" type="radio" value="1" class="form-colorinput-input" />
                                                <span class="form-colorinput-color bg-lime"></span>
                                            </label>
                                        </div>
                                    </td>
                                    <td>
                                      <div class="col-auto">
                                        <label class="form-colorinput">
                                          <input name="color" type="radio" value="0" class="form-colorinput-input" />
                                          <span class="form-colorinput-color bg-red"></span>
                                        </label>
                                      </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>ความแข็งแรงคอนกรีต (ตาม strength ผู้ออกแบบ)</td>
                                    <td>
                                        <div class="col-auto">
                                            <label class="form-colorinput">
                                                <input name="color" type="radio" value="1" class="form-colorinput-input" />
                                                <span class="form-colorinput-color bg-lime"></span>
                                            </label>
                                        </div>
                                    </td>
                                    <td>
                                      <div class="col-auto">
                                        <label class="form-colorinput">
                                          <input name="color" type="radio" value="0" class="form-colorinput-input" />
                                          <span class="form-colorinput-color bg-red"></span>
                                        </label>
                                      </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    </div>
                </form>
            </div>
            <br>
            <div class="col-12">
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-body">
                            <h3 class="card-title">อัปโหลดรูปภาพ</h3>
                            <form class="dropzone" id="dropzone-default" action="./" autocomplete="off" novalidate>
                                <div class="fallback">
                                    <input name="file" type="file" />
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <div class="col-12">
                <form action="https://httpbin.org/post" method="post" class="card">
                    <div class="card-header">
                        <h4 class="card-title">ผลการตรวจ</h4>
                    </div>
                    <div class="card-body">
                        <div class="row g-5">
                            <div class="col-xl-6">
                                <div class="row">
                                    <div class="col-md-6 col-xl-12">
                                        <div class="mb-3">
                                            <label class="form-label">รายละเอียดเพิ่มเติม <span class="form-label-description">56/100</span></label>
                                            <textarea class="form-control" name="example-textarea-input" rows="6" placeholder="Content..">Oh! Come and see the violence inherent in the system! Help, help, I'm being repressed! We shall say 'Ni' again to you, if you do not appease us. I'm not a witch. I'm not a witch. Camelot!</textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer text-end">
                        <div class="d-flex">
                            <a href="#" class="btn btn-red">Reject</a>
                            <button type="submit" class="btn btn-primary ms-auto">Approve</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script src="https://stackpath.bootstrapcdn.com/bootstrap/5.1.3/js/bootstrap.bundle.min.js"></script>
<!-- Libs JS -->
<script src="~/lib/core-ui/dist/libs/dropzone/dist/dropzone-min.js?1692870487" defer></script>
<!-- Tabler Core -->
<script src="~/lib/core-ui/dist/js/tabler.min.js?1692870487" defer></script>
<script src="~/lib/core-ui/dist/js/demo.min.js?1692870487" defer></script>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        new Dropzone("#dropzone-default")
    })
</script>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        new Dropzone("#dropzone-multiple")
    })
</script>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        new Dropzone("#dropzone-custom")
    })
</script>