@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<table class=" table table-responsive table-hover table-vcenter card-table text-nowrap" id="tbl-table" width="100%">
    <thead>
        <tr class="table-primary">
            <th>ชื่อบริษัท</th>
            <th>วันที่อัพเดท</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>บริษัท พี เอส ซี เอ็ม จำกัด</td>
            <td>2024-07-30 09:30:00</td>
            <td>
                <button id="company-edit" class="btn bg-skyblue-lt btn-icon btn-rounded" style="margin-right:10px;"><i class="fa-regular fa-pen-to-square"></i></button>
                <button class="btn bg-red-lt btn-icon btn-rounded"><i class="fa-regular fa-trash-can"></i></button>
            </td>
        </tr>
    </tbody>
</table>