@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<table class=" table table-responsive table-hover table-vcenter card-table text-nowrap" id="tbl-unit-list" width="100%">
    <thead>
        <tr class="table-primary">
            <th><input type="checkbox" id="select-all" onclick="selectAll(this)"></th>
            <th>ผู้รับผิดชอบ</th>
            <th>รหัสโครงการ</th>
            <th>ชื่อโครงการ</th>
            <th>รหัสยูนิต</th>
            <th>ประเภทยูนิต</th>
            <th>เลขที่อยู่</th>
            <th>เนื้อที่</th>
            <th>สถานะยูนิต</th>
            <th>Vendor</th>
            <th>PO</th>
            <th>วันที่เริ่มทำงาน</th>
            <th>วันที่สิ้นสุด</th>
            <th>วันที่อัพเดท</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @*<tr>
            <td>401H001</td>
            <td>ดิ ออเนอร์ โยธินพัฒนา</td>
            <td>AA106</td>
            <td>บ้านเดี่ยว 2 ชั้น</td>
            <td>1/1</td>
            <td>30 ตร.ม.</td>
            <td>โอน</td>
            <td>บริษัท วิน อินเวนชั่น จำกัด</td>
            <td>PO1234</td>
            <td>2024-08-05 </td>
            <td>2024-11-05 </td>
            <td>2024-07-30 09:30:00</td>
            <td>
                <button id="unit-edit" class="btn bg-skyblue-lt btn-icon btn-rounded" style="margin-right:10px;"><i class="fa-regular fa-pen-to-square"></i></button>
                <button class="btn bg-red-lt btn-icon btn-rounded"><i class="fa-regular fa-trash-can"></i></button>
            </td>
        </tr>*@
    </tbody>
</table>