@model Project.ConstructionTracking.Web.Models.MUnitModel.MasterUnitResp

<div class="modal fade" id="modal-unit-e" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" data-bs-backdrop="static" data-bs-keyboard="false">
    <div class="modal-dialog modal-lg" role="document">
        <div id="modal-format" class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Edit Unit</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <input type="hidden" id="edit-unit-id" />
                    <input type="hidden" id="edit-project-id" />
                    <div class="col-lg-12 mb-3">
                        <label class="form-label">ผู้ควบคุมงาน</label>
                        <select class="form-control" id="vendor">
                            <option value="">กรุณาเลือกผู้ควบคุมงาน</option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12 mb-3">
                        <label class="form-label">PO</label>
                        <input type="text" class="form-control" id="po-no">
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12 mb-3">
                        <label class="form-label">วันที่เริ่มทำงาน</label>
                        <input class="form-control" type="date" id="start-date">
                    </div>
                </div>
            </div>

            <div class="modal-footer">
                <a href="#" class="btn btn-link link-secondary" data-bs-dismiss="modal">
                    Cancel
                </a>
                <button href="#" class="btn btn-success ms-auto" id="edit-unit-save">
                    บันทึก
                </button>
            </div>
        </div>
    </div>
</div>
