@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<table class=" table table-responsive table-hover table-vcenter card-table text-nowrap" id="tbl-table" width="100%">
    <thead>
        <tr class="table-primary">
            <th>ชื่อ</th>
            <th>นามสกุล</th>
            <th>อีเมลล์</th>
            <th>เบอร์โทรศัพท์</th>
            <th>ตำแหน่ง</th>
            <th>Role</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>นายสมชาย</td>
            <td>ตัวอย่าง</td>
            <td>test@mail.com</td>
            <td>012-345-6789</td>
            <td>Senior</td>
            <td>PE</td>
            <td>
                <button id="user-edit" class="btn bg-skyblue-lt btn-icon btn-rounded" style="margin-right:10px;"><i class="fa-regular fa-pen-to-square"></i></button>
                <button class="btn bg-red-lt btn-icon btn-rounded"><i class="fa-regular fa-trash-can"></i></button>
            </td>
        </tr>
    </tbody>
</table>