@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutSite.cshtml";
}
<link href="~/lib/datatable/jquery.datatables.min.css" rel="stylesheet" />
<!-- Content Header (Page header) -->

<div class="page-wrapper">

    <!-- Page header -->
    <div class="page-header d-print-none">
        <div class="container-xl">
            <div class="row g-2 align-items-center">
                <div class="col">
                    <h2 class="page-title">
                        หน้าค้นหา Unit
                    </h2>
                </div>
            </div>
        </div>
    </div>
    <!-- Page body -->
    <div class="page-body">
        <div id="divLoadingProgress" name="divLoadingProgress" align="center" class="divWaiting" style="display: none;">
            <img alt="progress" src="./img/loading.gif" />
        </div>
        <div class="container-xl">
            <div class="col-12">
                <div class="card-body">
                    <form id="form-search" method="post">
                        <div class="row">
                            <div class="col-6">
                                <div class="mb-3">
                                    <label class="form-label"><h3>โครงการ</h3></label>
                                    <select type="text" class="form-select" name="ProjectID" id="select-users" value="">
                                        @if (ViewBag.ProjectSelectList != null)
                                        {
                                            @foreach (var item in (List<SelectListItem>)ViewBag.ProjectSelectList)
                                            {
                                                <option value="@item.Value">@item.Text</option>
                                            }
                                        }
                                    </select>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="mb-3">
                                    <label class="form-label"><h3>รายการค้นหา</h3></label>
                                    <div class="row g-2">
                                        <div class="col">
                                            <input type="text" name="Search" class="form-control" placeholder="Search for…">
                                        </div>
                                        <div class="col-auto">
                                            <button type="submit" class="btn btn-icon" aria-label="Button">
                                                <!-- Download SVG icon from http://tabler-icons.io/i/search -->
                                                <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none" /><path d="M10 10m-7 0a7 7 0 1 0 14 0a7 7 0 1 0 -14 0" /><path d="M21 21l-6 -6" /></svg>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>

                </div>
            </div>
            <br>
            <div class="col-12">
                <div class="card">
                    <div class="table-responsive">
                        <partial name="Partial_Unit_List" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<style>
    .status-dot-animated {
        position: relative;
        display: inline-block;
        vertical-align: middle;
        border-radius: 50%;
        margin-right: 8px;
        animation: blink 1.5s infinite;
    }
</style>

@section scripts{
    <script src="~/lib/datatable/jquery.datatables.min.js"></script>
<script src="~/lib/core-ui/dist/libs/fslightbox/index.js?1692870487" defer></script>
<script src="~/lib/core-ui/dist/js/tabler.min.js?1692870487" defer></script>
<script src="~/lib/core-ui/dist/js/demo.min.js?1692870487" defer></script>
<script src="~/lib/core-ui/dist/js/demo-theme.min.js?1692870487"></script>

    <script src="~/js/pages/unit.js?ver=@DateTime.Now.Ticks.ToString()"></script>
    <script>
        function getProjectSelectList() {
            $("#divLoadingProgress").show();
            return new Promise(function (resolve, reject) {
                var url = '@Url.Action("GetProjectSelectList", "Base")';
                $.ajax({
                    url: url,
                    type: 'GET',
                    success: function (data) {
                        var $select = $('#select-users');
                        $select.empty(); 
                        $.each(data, function (index, item) {
                            $select.append('<option value="' + item.Value + '">' + item.Text + '</option>');
                        });                      
                        resolve();
                    },
                    error: function (xhr, status, error) {
                        console.error('Error fetching GetProjectSelectList : ผิดพลาด', error);
                        reject(error);
                    }
                });
            });
          
        }

        $(document).ready(function () {
            getProjectSelectList().then(function () {               
                unit.init();
            }).catch(function (error) {
                console.error('Initialization failed due to error : ผิดพลาด', error);
            });
        });      
    </script>

}