<table class="table card-table table-vcenter text-nowrap datatable" id="tbl-list">
    <thead>
        <tr>
            <th>
                <h3>เลขที่ Unit</h3>
            </th>
            <th>
                <h3>เลขที่บ้าน</h3>
            </th>
            <th>
                <h3>งวดที่ตรวจล่าสุด</h3>
            </th>
            <th>
                <h3>สถานะยูนิต</h3>
            </th>
            <th>
                <h3>แผนงาน</h3>
            </th>
            <th>
                <h3>ตรวจ</h3>
            </th>
            <th>
                <h3>แก้ไข</h3>
            </th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>