<table class="table card-table table-vcenter text-nowrap datatable" id="tbl-list">
    <thead>
        <tr>
            <th>
                <h3>เลขที่ Unit</h3>
            </th>
            <th>
                <h3>ประเภท Unit</h3>
            </th>
            <th>
                <h3>วันที่เริ่ม</h3>
            </th>
            <th>
                <h3>วันที่สิ้นสุด</h3>
            </th>
            <th>
                <h3>สถานะ</h3>
            </th>
            <th>
                <h3>ตรวจ</h3>
            </th>
            <th>
                <h3>แก้ไข</h3>
            </th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>