@{
    Layout = "~/Views/Shared/_LayoutSite.cshtml";

    ViewData["Title"] = "Detail Form";
}
<body data-bs-spy="scroll" data-bs-target="#scrollspy-nav" data-bs-offset="0">

    <div class="page-wrapper">
        <!-- Page header -->
        <div class="page-header d-print-none">
            <div class="container-xl">
                <div class="row">
                    <div class="col-3">
                        <a href="javascript:history.back()" class="btn btn-secondary mb-3">
                            <i class="fas fa-chevron-left"></i> <span>Go Back</span>
                        </a>
                    </div>
                </div>
                <div class="row g-2 align-items-center">
                    <div class="col">
                        <h2 class="page-title">
                            ฟอร์ม - แสดงแบบฟอร์ม
                        </h2>
                    </div>
                </div>
            </div>
        </div>

        <div class="page-body">
            <div class="container-xl">
                <div id="scrollspy-nav">
                    <div class="row">
                        <div class="col-12">
                            <div id="section-1" class="new-section">
                                <div class="collapsible active" style="display: flex; align-items: center;">
                                    Lv.1 - Form
                                    <button id="modal-form" class="btn bg-blue-lt" style="margin-left: auto;">
                                        <i class="fa fa-plus"></i> Create
                                    </button>
                                </div>
                                <div class="content-cl" style="display:block">
                                    <partial name="Partial_List_Form" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <div id="section-2" class="new-section">
                                <div class="collapsible active" style="display: flex; align-items: center;">
                                    Lv.2 - FormGroup
                                    <button class="btn bg-blue-lt" id="modal-group" style="margin-left: auto;">
                                        <i class="fa fa-plus"></i> Create
                                    </button>
                                </div>
                                <div class="content-cl" style="display:block">
                                    <partial name="Partial_List_Group" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <div id="section-3" class="new-section">
                                <div class="collapsible active" style="display: flex; align-items: center;">
                                    Lv.3 - FormPackage
                                    <button class="btn bg-blue-lt" id="modal-package" style="margin-left: auto;">
                                        <i class="fa fa-plus"></i> Create
                                    </button>
                                </div>
                                <div class="content-cl" style="display:block">
                                    <partial name="Partial_List_Package" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <div id="section-4" class="new-section">
                                <div class="collapsible active" style="display: flex; align-items: center;">
                                    Lv.4 - FormCheckList
                                    <button class="btn bg-blue-lt" id="modal-checklist" style="margin-left: auto;">
                                        <i class="fa fa-plus"></i> Create
                                    </button>
                                </div>
                                <div class="content-cl" style="display:block">
                                    <partial name="Partial_List_Check" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="fixed-button">
        <button class="btn btn-primary" data-bs-target="#section-1">1</button>
        <button class="btn btn-primary" data-bs-target="#section-2">2</button>
        <button class="btn btn-primary" data-bs-target="#section-3">3</button>
        <button class="btn btn-primary" data-bs-target="#section-4">4</button>
    </div>

</body>

<div class="modal fade" id="partial-modal-form" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" data-bs-backdrop="static" data-bs-keyboard="false">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Add Master Project Form</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row mb-3">
                    <div class="col-lg-6">
                        <label class="form-label">ชื่อฟอร์ม</label>
                        <input type="text" class="form-control" name="example-text-input" placeholder="กรุณากรอกข้อมูลชื่อฟอร์ม">
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-lg-12">
                        <label class="form-label">รายละเอียด</label>
                        <input type="text" class="form-control" name="example-text-input" placeholder="กรุณากรอกข้อมูลรายละเอียด">
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-lg-6">
                        <div class="mb-3">
                            <label class="form-label">Progress</label>
                            <input type="text" class="form-control" name="example-text-input" placeholder="เปอเซ็นต์การทำงาน(%)">
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="mb-3">
                            <label class="form-label">Duration</label>
                            <input type="text" class="form-control" name="example-text-input" placeholder="ระยะเวลาทำงาน (วัน)">
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-6">
                        <select class="your-select-element" multiple="multiple" style="width: 100%;">
                            <option value="1">Option 1</option>
                            <option value="2">Option 2</option>
                            <option value="3">Option 3</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <a href="#" class="btn btn-link link-secondary" data-bs-dismiss="modal">
                    Cancel
                </a>
                <a href="#" class="btn btn-primary ms-auto" data-bs-dismiss="modal">
                    <!-- Download SVG icon from http://tabler-icons.io/i/plus -->
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path d="M12 5l0 14"></path><path d="M5 12l14 0"></path></svg>
                    Add Form
                </a>
            </div>
        </div>
    </div>
</div>

<partial name="Partial_MasterForm" />
<partial name="Partial_MasterGroup" />
<partial name="Partial_MasterPackage" />
<partial name="Partial_MasterCheckList" />

<style>
    .status-dot-animated {
        position: relative;
        display: inline-block;
        vertical-align: middle;
        border-radius: 50%;
        margin-right: 8px;
        animation: blink 1.5s infinite;
    }

    .collapsible {
        background-color: #0054A6;
        color: white;
        cursor: pointer;
        padding: 10px;
        width: 100%;
        border: none;
        text-align: left;
        outline: none;
        font-size: 25px;
        margin-top: 10px;
        /* add new  */
        cursor: pointer;
        position: relative;
    }

        .collapsible:hover {
            background-color: #0F67B1;
        }

    .inner-button {
        display: inline-block;
        padding: 7px 7px;
        margin-left: auto;
        border-width: 0;
        background-color: #888;
        color: white;
    }

    .collapsible i {
        font-size: 24px; /* Increase icon size inside the collapsible */
    }

    .inner-button i {
        font-size: 24px; /* Increase icon size inside the inner button */
    }

    .center-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh; /* Adjust as needed */
    }

    .highlight {
        background-color: #EADBC8; /* Highlight color */
    }

    .btn-search {
        border: 0px;
        background-color: transparent;
        color: inherit;
    }

    .btn-rounded {
        border-radius: 20px;
    }

    .search-rounded {
        cursor: pointer;
        border-top-right-radius: 10rem;
        border-bottom-right-radius: 10rem;
    }

    .form-control-rounded {
        border-radius: 10rem
    }

    .fixed-button {
        position: fixed;
        bottom: 20px;
        right: 20px;
        display: flex;
        flex-direction: column; /* Stack buttons vertically */
        gap: 10px; /* Space between buttons */
        z-index: 1000; /* Ensure buttons stay above other content */
    }

        .fixed-button .btn {
            width: 50px; /* Set width for circular shape */
            height: 50px; /* Set height for circular shape */
            border-radius: 50%; /* Make buttons circular */
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 14px; /* Adjust font size as needed */
            padding: 0; /* Remove default padding */
            text-align: center; /* Center text */
        }
</style>

@section scripts{
    <script src="~/js/pages/detailform.js?ver=@DateTime.Now.Ticks.ToString()"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <script>
        $(document).ready(function () {
            detail.init();
        });
    </script>
}
