@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<table class=" table table-responsive table-hover table-vcenter card-table text-nowrap" id="tbl-table" width="100%">
    <thead>
        <tr class="table-primary">
            <th>ประเภทโครงการ</th>
            <th>ชื่อประเภทฟอร์ม</th>
            <th>รายละเอียด</th>
            <th>วันที่อัพเดท</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>แนวราบ</td>
            <td>ASW01</td>
            <td>บ้านเดี่ยวไซส์กลาง</td>
            <td>2024-07-30 09:30:00</td>
            <td>
                <button id="form-edit" class="btn bg-black-lt btn-icon btn-rounded" style="margin-right:10px;"><i class="fa-regular fa-pen-to-square"></i></button>
                <button id="form-detail" class="btn bg-blue-lt btn-icon btn-rounded"style="margin-right:10px;"><i class="fa-solid fa-list-check"></i></button>
                <button class="btn bg-red-lt btn-icon btn-rounded"><i class="fa-regular fa-trash-can"></i></button>
            </td>
        </tr>
    </tbody>
</table>