<table class="table card-table table-vcenter text-nowrap datatable" id="tbl-list-f">
    <thead>
        <tr>
            <th></th>
            <th>
                <h3>ชื่อ</h3>
            </th>
            <th>
                <h3>Progress</h3>
            </th>
            <th>
                <h3>ระยะเวลา</h3>
            </th>
            <th>
                <h3>Action</h3>
            </th>
        </tr>
    </thead>
    <tbody>
        <tr id="row1">
            <td><input class="checkbox-f" type="checkbox"></td>
            <td>งวดที่ 1</td>
            <td>20%</td>
            <td>2 months</td>
            <td>
                <button id="show-form-edit" class="btn bg-skyblue-lt btn-icon btn-rounded" style="margin-right:10px;"><i class="fa-regular fa-pen-to-square"></i></button>
                <button class="btn bg-red-lt btn-icon btn-rounded"><i class="fa-regular fa-trash-can"></i></button>
            </td>
        </tr>
        <tr id="row2">
            <td><input class="checkbox-f" type="checkbox"></td>
            <td>งวดที่ 2</td>
            <td>20%</td>
            <td>2 months</td>
            <td>
                <button id="show-form-edit" class="btn bg-skyblue-lt btn-icon btn-rounded" style="margin-right:10px;"><i class="fa-regular fa-pen-to-square"></i></button>
                <button class="btn bg-red-lt btn-icon btn-rounded"><i class="fa-regular fa-trash-can"></i></button>
            </td>
        </tr>
        <tr id="row3">
            <td><input class="checkbox-f" type="checkbox"></td>
            <td>งวดที่ 3</td>
            <td>20%</td>
            <td>2 months</td>
            <td>
                <button id="show-form-edit" class="btn bg-skyblue-lt btn-icon btn-rounded" style="margin-right:10px;"><i class="fa-regular fa-pen-to-square"></i></button>
                <button class="btn bg-red-lt btn-icon btn-rounded"><i class="fa-regular fa-trash-can"></i></button>
            </td>
        </tr>
        <tr id="row4">
            <td><input class="checkbox-f" type="checkbox"></td>
            <td>งวดที่ 4</td>
            <td>20%</td>
            <td>2 months</td>
            <td>
                <button id="show-form-edit" class="btn bg-skyblue-lt btn-icon btn-rounded" style="margin-right:10px;"><i class="fa-regular fa-pen-to-square"></i></button>
                <button class="btn bg-red-lt btn-icon btn-rounded"><i class="fa-regular fa-trash-can"></i></button>
            </td>
        </tr>
        <tr id="row5">
            <td><input class="checkbox-f" type="checkbox"></td>
            <td>งวดที่ 5</td>
            <td>20%</td>
            <td>2 months</td>
            <td>
                <button id="show-form-edit" class="btn bg-skyblue-lt btn-icon btn-rounded" style="margin-right:10px;"><i class="fa-regular fa-pen-to-square"></i></button>
                <button class="btn bg-red-lt btn-icon btn-rounded"><i class="fa-regular fa-trash-can"></i></button>
            </td>
        </tr>
    </tbody>
</table>