@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="modal fade" id="partial-modal-package" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" data-bs-backdrop="static" data-bs-keyboard="false">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Add Master Form Package</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="mb-3">
                    <label class="form-label">ชื่อกลุ่มฟอร์ม</label>
                    <input type="text" class="form-control" name="example-text-input" value="ส่วนที่ 1 รายงานขออนุมัติการทำงาน" disabled>
                </div>
                <div class="form-selectgroup-boxes row mb-3">
                    <div class="col-lg-6">
                        <label class="form-label">ชื่อแพคเกจฟอร์ม</label>
                        <input type="text" class="form-control" name="example-text-input" placeholder="Your Form Package Name">
                    </div>
                    @*<div class="col-lg-6">
                            <label class="form-label">Unit Type</label>
                            <input type="text" class="form-control" name="example-text-input" value="บ้านเดี่ยว 3 ชั้น" disabled>
                        </div>*@
                </div>
                @*<div class="row">
                        <div class="col-lg-6">
                            <div class="mb-3">
                                <label class="form-label">Progress</label>
                                <input type="text" class="form-control" name="example-text-input" placeholder="เปอเซ็นต์การทำงาน(%)">
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="mb-3">
                                <label class="form-label">Duration</label>
                                <input type="text" class="form-control" name="example-text-input" placeholder="ระยะเวลาทำงาน (วัน)">
                            </div>
                        </div>
                    </div>*@
            </div>
            @*<div class="modal-body">
                    <div class="row">
                        <div class="col-lg-6">
                            <label class="form-label">Form Type</label>
                            <select class="form-control" id="form-type" name="form-type">
                                <option value="3">PE</option>
                                <option value="4">QC</option>
                            </select>
                        </div>
                        <div class="col-lg-6">
                            <div class="mb-3">
                                <label class="form-label">Reference Form</label>
                                <select class="form-control" id="form-ref" name="form-ref-name">
                                    <option value="1">งวดที่1</option>
                                    <option value="2">QC1</option>
                                    <option value="3">งวดที่2</option>
                                    <option value="4">งวดที่3</option>
                                    <option value="5">งวดที่4</option>
                                    <option value="6">QC2</option>
                                    <option value="7">งวดที่5</option>
                                    <option value="8">งวดที่6</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>*@
            <div class="modal-footer">
                <a href="#" class="btn btn-link link-secondary" data-bs-dismiss="modal">
                    Cancel
                </a>
                <a href="#" class="btn btn-primary ms-auto" data-bs-dismiss="modal">
                    <!-- Download SVG icon from http://tabler-icons.io/i/plus -->
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path d="M12 5l0 14"></path><path d="M5 12l14 0"></path></svg>
                    Add Form
                </a>
            </div>
        </div>
    </div>
</div>
        
