@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model Project.ConstructionTracking.Web.Models.MFormModel.FormTypeDetailModel
<div class="modal fade" id="partial-modal-form" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" data-bs-backdrop="static" data-bs-keyboard="false">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="form-head"></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row mb-3">
                    <div class="col-lg-12">
                        <label class="form-label">ชื่อฟอร์ม</label>
                        <input id="form-id" type="hidden"/>
                        <input id="form-name" type="text" class="form-control" placeholder="กรุณากรอกข้อมูลชื่อฟอร์ม">
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-lg-12">
                        <label class="form-label">รายละเอียด</label>
                        <input id="form-description" type="text" class="form-control" placeholder="กรุณากรอกข้อมูลรายละเอียด">
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-lg-6">
                        <div class="mb-3">
                            <label class="form-label">Progress</label>
                            <input id="form-progress" type="text" class="form-control" placeholder="เปอเซ็นต์การทำงาน(%)">
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="mb-3">
                            <label class="form-label">Duration</label>
                            <input id ="form-duration" type="text" class="form-control" placeholder="ระยะเวลาทำงาน (วัน)">
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-6">
                        <label class="form-label">ตัวเลือก QC</label>
                        <select class="js-example-responsive" id="multiple-select-field" multiple="multiple" style="width: 100%">
                            @foreach (var qc in Model.DataQcList)
                            {
                                <option value="@qc.ID">@qc.Name</option>
                            }
                            <!-- Add more options as needed -->
                        </select>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <a href="#" class="btn btn-link link-secondary" data-bs-dismiss="modal">
                    ยกเลิก
                </a>
                <button id="form-save" class="btn btn-primary ms-auto" data-bs-dismiss="modal">
                    บันทึก
                </button>
            </div>
        </div>
    </div>
</div>