@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model Project.ConstructionTracking.Web.Models.MFormModel.ProjectTypeListModel
<div class="modal fade" id="modal-form-e" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" data-bs-backdrop="static" data-bs-keyboard="false">
    <div class="modal-dialog modal-lg" role="document">
        <div id="modal-format" class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Edit Form</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-12 mb-3">
                        <label for="modalProjectType" class="form-label">ประเภทโครงการ</label>
                        <select id="modalProjectType" class="form-control" name="vendor">
                            <option value="">Select Project Type</option>
                            @foreach (var projectType in Model.ProjectTypeList)
                            {
                                <option value="@projectType.ID">@projectType.Name</option>
                            }
                        </select>
                        <div id="modalProjectTypeError" class="text-danger" style="display:none;"></div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12 mb-3">
                        <label for="modalFormTypeName" class="form-label">ชื่อประเภทฟอร์ม</label>
                        <input class="form-control" id="modalFormTypeName" placeholder="กรุณากรอกข้อมูลชื่อประเภทฟอร์ม">
                        <div id="modalFormTypeNameError" class="text-danger" style="display:none;"></div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12 mb-3">
                        <label for="modalFormTypeDesc" class="form-label">รายละเอียด</label>
                        <input class="form-control" id="modalFormTypeDesc" placeholder="กรุณากรอกข้อมูลรายละเอียด">
                        <div id="modalFormTypeDescError" class="text-danger" style="display:none;"></div>
                    </div>
                </div>
                <input type="hidden" id="modalFormTypeId">
            </div>

            <div class="modal-footer">
                <a href="#" class="btn btn-link link-secondary" data-bs-dismiss="modal">
                    Cancel
                </a>
                <button id="editFormType" class="btn btn-success ms-auto">
                    บันทึก
                </button>
            </div>
        </div>
    </div>
</div>