@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="modal fade" id="partial-modal-checklist" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" data-bs-backdrop="static" data-bs-keyboard="false">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 id="c-form-head" class="modal-title"></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row mb-3">
                    <div class="col-lg-12">
                        <label class="form-label">ชื่อกลุ่มฟอร์ม</label>
                        <input id="c-form-name" type="text" class="form-control" disabled>
                        <input type="hidden" id="c-form-id" />
                    </div>
                </div>
                <div class="form-selectgroup-boxes row mb-3">
                    <div class="col-lg-12">
                        <label class="form-label">ชื่อแพ็คเกจฟอร์ม</label>
                        <input id="check-name" type="text" class="form-control" placeholder="Your Form Package Name">
                        <div id="checkNameError" class="text-danger" style="display:none;"></div>
                        <input type="hidden" id="check-id" />
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <a href="#" class="btn btn-link link-secondary" data-bs-dismiss="modal">
                    ยกเลิก
                </a>
                <button id="check-save" href="#" class="btn btn-success ms-auto">
                    บันทึก
                </button>
            </div>
        </div>
    </div>
</div>