<table class="table card-table table-vcenter text-nowrap datatable" style="width:100%;" id="tbl-list-f">
    <thead>
        <tr>
            <th></th>
            <th>
                <h3>ชื่อ</h3>
            </th>
            <th>
                <h3>Progress(%)</h3>
            </th>
            <th>
                <h3>ระยะเวลา(วัน)</h3>
            </th>
            <th>
                <h3>Action</h3>
            </th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>