@{
    ViewData["Title"] = "index";
    Layout = "~/Views/Shared/_LayoutSite.cshtml";
}

@model Project.ConstructionTracking.Web.Models.TrackingUnitView

<div class="page-wrapper">
    <!-- Page header -->
    <div class="page-header d-print-none">
        <div class="card bg-primary text-primary-fg">
            <div class="card-stamp">
                <div class="card-stamp-icon bg-white text-primary">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-home-heart">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                        <path d="M21 12l-9 -9l-9 9h2v7a2 2 0 0 0 2 2h6" />
                        <path d="M9 21v-6a2 2 0 0 1 2 -2h2c.39 0 .754 .112 1.061 .304" />
                        <path d="M19 21.5l2.518 -2.58a1.74 1.74 0 0 0 0 -2.413a1.627 1.627 0 0 0 -2.346 0l-.168 .172l-.168 -.172a1.627 1.627 0 0 0 -2.346 0a1.74 1.74 0 0 0 0 2.412l2.51 2.59z" />
                    </svg>
                </div>
            </div>
            <div class="card-body">
                <h1>
                    ข้อมูลรายการ Unit (@Model.Unit.UnitCode)
                    <small class="text-yellow">@Model.Unit.ProjectName</small>
                </h1>
            </div>
        </div>
    </div>
    <!-- Page body -->
    <div class="page-body">
        <div class="col-12">
            <form action="https://httpbin.org/post" method="post" class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-xl-4">
                            <div class="position-relative">
                                <div class="container">
                                    <div id="cardCarousel" class="carousel slide" data-bs-ride="carousel">
                                        <div class="carousel-inner">
                                            <div class="carousel-item active">
                                                <img src="~/img/img23.jpg" class="card-img-top" alt="">
                                                <div class="card-body text-center">
                                                    <a data-fslightbox="gallery" href="~/img/img23.jpg">
                                                        <p class="card-text">ขยายภาพ</p>
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="carousel-item">
                                                <img src="~/img/img13.jpg" class="card-img-top" alt="Summer (Man)">
                                                <div class="card-body text-center">
                                                    <a data-fslightbox="gallery" href="~/img/img13.jpg">
                                                        <p class="card-text">ขยายภาพ</p>
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="carousel-item">
                                                <img src="~/img/img4.jpg" class="card-img-top" alt="Style 3">
                                                <div class="card-body text-center">
                                                    <a data-fslightbox="gallery" href="~/img/img4.jpg">
                                                        <p class="card-text">ขยายภาพ</p>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                        <button class="carousel-control-prev" type="button" data-bs-target="#cardCarousel" data-bs-slide="prev">
                                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                            <span class="visually-hidden">Previous</span>
                                        </button>
                                        <button class="carousel-control-next" type="button" data-bs-target="#cardCarousel" data-bs-slide="next">
                                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                            <span class="visually-hidden">Next</span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-8">
                            <div class="card">
                                <div class="card-header">
                                    <h3 class="card-title">รหัสแบบบ้าน (HOME-0001)</h3>
                                </div>
                                <div class="card-body">
                                    <div class="mb-3 row">
                                        <label class="col-6 col-sm-3 col-form-label">ชื่อแบบบ้าน</label>
                                        <div class="col">
                                            <input type="text" class="form-control" placeholder="" disabled value="บ้านเดี่ยว 3 ชั้น">
                                        </div>
                                        <label class="col-6 col-sm-3 col-form-label">ประเภทแบบบ้าน</label>
                                        <div class="col">
                                            <input type="text" class="form-control" placeholder="" disabled value="M">
                                        </div>
                                    </div>
                                    <div class="mb-3 row">
                                        <label class="col-3 col-form-label">แผนวันที่</label>                          
                                        <div class="col-8 col-sm-3">
                                            <div class="input-icon">
                                                <span class="input-icon-addon">
                                                    <!-- Download SVG icon from http://tabler-icons.io/i/calendar -->
                                                    <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none" /><path d="M4 7a2 2 0 0 1 2 -2h12a2 2 0 0 1 2 2v12a2 2 0 0 1 -2 2h-12a2 2 0 0 1 -2 -2v-12z" /><path d="M16 3v4" /><path d="M8 3v4" /><path d="M4 11h16" /><path d="M11 15h1" /><path d="M12 15v3" /></svg>
                                                </span>
                                                <input class="form-control" placeholder="Select a date" id="datepicker-icon-prepend" value="2024-06-20"/>
                                            </div>
                                        </div>
                                        <div class="col-6 col-sm-3 d-none d-sm-block">
                                            <div class="input-icon">
                                                <span class="input-icon-addon">
                                                    <!-- Download SVG icon from http://tabler-icons.io/i/calendar -->
                                                    <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none" /><path d="M4 7a2 2 0 0 1 2 -2h12a2 2 0 0 1 2 2v12a2 2 0 0 1 -2 2h-12a2 2 0 0 1 -2 -2v-12z" /><path d="M16 3v4" /><path d="M8 3v4" /><path d="M4 11h16" /><path d="M11 15h1" /><path d="M12 15v3" /></svg>
                                                </span>
                                                <input type="text" class="form-control" placeholder="" disabled value="2024-09-20">
                                            </div>
                                        </div>
                                        <div class="col-6 col-sm-3 d-none d-sm-block">
                                            <div class="input-group">
                                                <input type="text" class="form-control" disabled placeholder="" value="120">
                                                <div class="input-group-append">
                                                    <span class="input-group-text">วัน</span>
                                                </div>
                                            </div>
                                        </div>                            
                                    </div>
                                    <div class="mb-3 row d-block d-sm-none">
                                        <div class="row">
                                            <div class="col-6">
                                                <div class="input-icon">
                                                    <span class="input-icon-addon">
                                                        <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none" /><path d="M4 7a2 2 0 0 1 2 -2h12a2 2 0 0 1 2 2v12a2 2 0 0 1 -2 2h-12a2 2 0 0 1 -2 -2v-12z" /><path d="M16 3v4" /><path d="M8 3v4" /><path d="M4 11h16" /><path d="M11 15h1" /><path d="M12 15v3" /></svg>
                                                    </span>
                                                    <input type="text" class="form-control" placeholder="" disabled value="2024-09-20">
                                                </div>
                                            </div>
                                            <div class="col-6">
                                                <div class="input-group">
                                                    <input type="text" class="form-control" disabled placeholder="" value="120">
                                                    <div class="input-group-append">
                                                        <span class="input-group-text">วัน</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="mb-3 row">
                                        <label class="col-3 col-form-label pt-0">Process</label>
                                        <div class="col-12 col-sm-3">
                                            <div class="input-group">
                                                <input type="text" class="form-control" disabled placeholder="" value="80%">
                                                <div class="input-group-append">
                                                <span class="input-group-text">ตามแผน</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-12 col-sm-3">
                                            <div class="input-group">
                                                <input type="text" class="form-control" disabled placeholder="" value="90%">
                                                <div class="input-group-append">
                                                    <span class="input-group-text">ล่าสุด</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-12 col-sm-3">
                                            <div class="input-group">
                                                <input type="text" class="form-control" disabled placeholder="" value="on time 100%">
                                                <div class="input-group-append">
                                                    <span class="input-group-text">ตามจริง</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-footer text-end">
                                    <button type="submit" class="btn btn-primary">บันทึก</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <style>   

        .card img {
            width: 285px;
            height: 235px;
            object-fit: cover;
            border-radius: 10px;
        }

        .carousel-item {
            flex: 1 0 auto;
            text-align: center;
        }

        .carousel-control-prev-icon,
        .carousel-control-next-icon {
            background-color: #000;
            border-radius: 50%;
        }

    </style>
</div>

@section scripts{
    <script src="~/lib/core-ui/dist/libs/fslightbox/index.js?1692870487" defer></script>
        <script src="~/lib/core-ui/dist/js/tabler.min.js?1692870487" defer></script>
        <script src="~/lib/core-ui/dist/js/demo.min.js?1692870487" defer></script>
        <script src="~/lib/core-ui/dist/js/demo-theme.min.js?1692870487"></script>
    <script>

        document.addEventListener("DOMContentLoaded", function () {
            window.Litepicker && (new Litepicker({
                element: document.getElementById('datepicker-icon-prepend'),
                buttonText: {
                    previousMonth: `<!-- Download SVG icon from http://tabler-icons.io/i/chevron-left -->
            <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M15 6l-6 6l6 6" /></svg>`,
                    nextMonth: `<!-- Download SVG icon from http://tabler-icons.io/i/chevron-right -->
            <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M9 6l6 6l-6 6" /></svg>`,
                },
            }));
        });
    </script>
}