@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutSite.cshtml";
}

@model Project.ConstructionTracking.Web.Models.FormCheckListUnitView

<div class="page-wrapper">
    <!-- Page header -->
    <div class="page-header d-print-none">
        <div class="card bg-primary text-primary-fg">
            <div class="card-stamp">
                <div class="card-stamp-icon bg-white text-primary">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-home-heart">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                        <path d="M21 12l-9 -9l-9 9h2v7a2 2 0 0 0 2 2h6" />
                        <path d="M9 21v-6a2 2 0 0 1 2 -2h2c.39 0 .754 .112 1.061 .304" />
                        <path d="M19 21.5l2.518 -2.58a1.74 1.74 0 0 0 0 -2.413a1.627 1.627 0 0 0 -2.346 0l-.168 .172l-.168 -.172a1.627 1.627 0 0 0 -2.346 0a1.74 1.74 0 0 0 0 2.412l2.51 2.59z" />
                    </svg>
                </div>
            </div>
            <div class="card-body">
                <h1>
                    งานท่อไฟฟ้า+ประปา
                </h1>
            </div>
        </div>
    </div>
    <!-- Page body -->
    <div class="page-body">
        <div class="container-xl mb-3">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">ส่วนที่ 1</a></li>
                <li class="breadcrumb-item active" aria-current="page">รายงานขออนุมัติการทำงาน</li>
            </ol>
            <br>
            <div class="row">
                <div class="col-md-4">
                    <div class="card p-3 mb-2">
                        <div class="d-flex justify-content-between">
                            <div class="d-flex flex-row align-items-center">
                                <div class="row">
                                    <div class="col-12">
                                        <h3>ฝ้าภายนอกชั้นบน</h3>
                                    </div>
                                    <div class="col-12">
                                        <div class="row">
                                            <div class="col-6">
                                                <div class="switch-radio-container">
                                                    <div class="three-state-switch state-na" id="threeStateSwitch">
                                                        <div class="switch-handle"></div>
                                                        <div class="switch-label">On</div>
                                                        <div class="switch-label">N/A</div>
                                                        <div class="switch-label">Off</div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-6">
                                                <label class="form-check form-check-inline">
                                                    <input class="form-check-input" type="radio" name="radios-inline-1">
                                                    <span class="form-check-label">ไม่มีรายการนี้</span>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card p-3 mb-2">
                        <div class="d-flex justify-content-between">
                            <div class="d-flex flex-row align-items-center">
                                <div class="row">
                                    <div class="col-12">
                                        <h3>ฝ้าภายนอกชั้นบน</h3>
                                    </div>
                                    <div class="col-12">
                                        <div class="row">
                                            <div class="col-6">
                                                <div class="switch-radio-container">
                                                    <div class="three-state-switch state-na" id="threeStateSwitch">
                                                        <div class="switch-handle"></div>
                                                        <div class="switch-label">On</div>
                                                        <div class="switch-label">N/A</div>
                                                        <div class="switch-label">Off</div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-6">
                                                <label class="form-check form-check-inline">
                                                    <input class="form-check-input" type="radio" name="radios-inline-1">
                                                    <span class="form-check-label">ไม่มีรายการนี้</span>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card p-3 mb-2">
                        <div class="d-flex justify-content-between">
                            <div class="d-flex flex-row align-items-center">
                                <div class="row">
                                    <div class="col-12">
                                        <h3>ฝ้าภายนอกชั้นบน</h3>
                                    </div>
                                    <div class="col-12">
                                        <div class="row">
                                            <div class="col-6">
                                                <div class="switch-radio-container">
                                                    <div class="three-state-switch state-na" id="threeStateSwitch">
                                                        <div class="switch-handle"></div>
                                                        <div class="switch-label">On</div>
                                                        <div class="switch-label">N/A</div>
                                                        <div class="switch-label">Off</div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-6">
                                                <label class="form-check form-check-inline">
                                                    <input class="form-check-input" type="radio" name="radios-inline-1">
                                                    <span class="form-check-label">ไม่มีรายการนี้</span>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card p-3 mb-2">
                        <div class="d-flex justify-content-between">
                            <div class="d-flex flex-row align-items-center">
                                <div class="row">
                                    <div class="col-12">
                                        <h3>ฝ้าภายนอกชั้นบน</h3>
                                    </div>
                                    <div class="col-12">
                                        <div class="row">
                                            <div class="col-6">
                                                <div class="switch-radio-container">
                                                    <div class="three-state-switch state-na" id="threeStateSwitch">
                                                        <div class="switch-handle"></div>
                                                        <div class="switch-label">On</div>
                                                        <div class="switch-label">N/A</div>
                                                        <div class="switch-label">Off</div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-6">
                                                <label class="form-check form-check-inline">
                                                    <input class="form-check-input" type="radio" name="radios-inline-1">
                                                    <span class="form-check-label">ไม่มีรายการนี้</span>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card p-3 mb-2">
                        <div class="d-flex justify-content-between">
                            <div class="d-flex flex-row align-items-center">
                                <div class="row">
                                    <div class="col-12">
                                        <h3>ฝ้าภายนอกชั้นบน</h3>
                                    </div>
                                    <div class="col-12">
                                        <div class="row">
                                            <div class="col-6">
                                                <div class="switch-radio-container">
                                                    <div class="three-state-switch state-na" id="threeStateSwitch">
                                                        <div class="switch-handle"></div>
                                                        <div class="switch-label">On</div>
                                                        <div class="switch-label">N/A</div>
                                                        <div class="switch-label">Off</div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-6">
                                                <label class="form-check form-check-inline">
                                                    <input class="form-check-input" type="radio" name="radios-inline-1">
                                                    <span class="form-check-label">ไม่มีรายการนี้</span>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <label class="form-label">ความคิดเห็น</label>
                    <textarea rows="1" class="form-control" placeholder="ความคิดเห็น" value=""></textarea>
                </div>
            </div>
        </div>
        <div class="container-xl mb-3">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">ส่วนที่ 1</a></li>
                <li class="breadcrumb-item active" aria-current="page">รายงานขออนุมัติการทำงาน</li>
            </ol>
            <br>
            <div class="row">
                <div class="col-md-4">
                    <div class="card p-3 mb-2">
                        <div class="d-flex justify-content-between">
                            <div class="d-flex flex-row align-items-center">
                                <div class="row">
                                    <div class="col-12">
                                        <h3>ฝ้าภายนอกชั้นบน</h3>
                                    </div>
                                    <div class="col-12">
                                        <div class="row">
                                            <div class="col-6">
                                                <div class="switch-radio-container">
                                                    <div class="three-state-switch state-na" id="threeStateSwitch">
                                                        <div class="switch-handle"></div>
                                                        <div class="switch-label">On</div>
                                                        <div class="switch-label">N/A</div>
                                                        <div class="switch-label">Off</div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-6">
                                                <label class="form-check form-check-inline">
                                                    <input class="form-check-input" type="radio" name="radios-inline-1">
                                                    <span class="form-check-label">ไม่มีรายการนี้</span>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card p-3 mb-2">
                        <div class="d-flex justify-content-between">
                            <div class="d-flex flex-row align-items-center">
                                <div class="row">
                                    <div class="col-12">
                                        <h3>ฝ้าภายนอกชั้นบน</h3>
                                    </div>
                                    <div class="col-12">
                                        <div class="row">
                                            <div class="col-6">
                                                <div class="switch-radio-container">
                                                    <div class="three-state-switch state-na" id="threeStateSwitch">
                                                        <div class="switch-handle"></div>
                                                        <div class="switch-label">On</div>
                                                        <div class="switch-label">N/A</div>
                                                        <div class="switch-label">Off</div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-6">
                                                <label class="form-check form-check-inline">
                                                    <input class="form-check-input" type="radio" name="radios-inline-1">
                                                    <span class="form-check-label">ไม่มีรายการนี้</span>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card p-3 mb-2">
                        <div class="d-flex justify-content-between">
                            <div class="d-flex flex-row align-items-center">
                                <div class="row">
                                    <div class="col-12">
                                        <h3>ฝ้าภายนอกชั้นบน</h3>
                                    </div>
                                    <div class="col-12">
                                        <div class="row">
                                            <div class="col-6">
                                                <div class="switch-radio-container">
                                                    <div class="three-state-switch state-na" id="threeStateSwitch">
                                                        <div class="switch-handle"></div>
                                                        <div class="switch-label">On</div>
                                                        <div class="switch-label">N/A</div>
                                                        <div class="switch-label">Off</div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-6">
                                                <label class="form-check form-check-inline">
                                                    <input class="form-check-input" type="radio" name="radios-inline-1">
                                                    <span class="form-check-label">ไม่มีรายการนี้</span>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card p-3 mb-2">
                        <div class="d-flex justify-content-between">
                            <div class="d-flex flex-row align-items-center">
                                <div class="row">
                                    <div class="col-12">
                                        <h3>ฝ้าภายนอกชั้นบน</h3>
                                    </div>
                                    <div class="col-12">
                                        <div class="row">
                                            <div class="col-6">
                                                <div class="switch-radio-container">
                                                    <div class="three-state-switch state-na" id="threeStateSwitch">
                                                        <div class="switch-handle"></div>
                                                        <div class="switch-label">On</div>
                                                        <div class="switch-label">N/A</div>
                                                        <div class="switch-label">Off</div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-6">
                                                <label class="form-check form-check-inline">
                                                    <input class="form-check-input" type="radio" name="radios-inline-1">
                                                    <span class="form-check-label">ไม่มีรายการนี้</span>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card p-3 mb-2">
                        <div class="d-flex justify-content-between">
                            <div class="d-flex flex-row align-items-center">
                                <div class="row">
                                    <div class="col-12">
                                        <h3>ฝ้าภายนอกชั้นบน</h3>
                                    </div>
                                    <div class="col-12">
                                        <div class="row">
                                            <div class="col-6">
                                                <div class="switch-radio-container">
                                                    <div class="three-state-switch state-na" id="threeStateSwitch">
                                                        <div class="switch-handle"></div>
                                                        <div class="switch-label">On</div>
                                                        <div class="switch-label">N/A</div>
                                                        <div class="switch-label">Off</div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-6">
                                                <label class="form-check form-check-inline">
                                                    <input class="form-check-input" type="radio" name="radios-inline-1">
                                                    <span class="form-check-label">ไม่มีรายการนี้</span>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <label class="form-label">ความคิดเห็น</label>
                    <textarea rows="1" class="form-control" placeholder="ความคิดเห็น" value=""></textarea>
                </div>
            </div>
        </div>
        <div class="container-xl mb-3">
            <div class="card">
                <div class="card-header">
                    <div class="ribbon ribbon-top bg-yellow">
                        <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none" /><path d="M12 17.75l-6.172 3.245l1.179 -6.873l-5 -4.867l6.9 -1l3.086 -6.253l3.086 6.253l6.9 1l-5 4.867l1.179 6.873z" /></svg>
                    </div>
                    <h3 class="card-title align-center">
                        <span class="material-icons"> account_circle </span>บันทึกผู้ตรวจ
                    </h3>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-12 col-sm-4 p-3 mb-2">
                              <input class="form-control" type="file" id="formFileMultiple" multiple>
                        </div>
                        <div class="col-12 col-sm-4 p-3 mb-2">
                            <label class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="radios-inline-12">
                                <span class="form-check-label">ผ่านแบบมีเงื่อนไข (PC)</span>
                            </label>
                        </div>
                        <div class="col-12 col-sm-4 p-3 mb-2">
                            <textarea rows="1" class="form-control" placeholder="ระบุเหตุผลเพื่อขออนุมัติ" value=""></textarea>
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <div class="row">
                        <div class="col-6">
                            <label class="form-label">&nbsp; แก้ไขล่าสุด 13/06/2024</label>
                        </div>
                        <div class="col-6">
                            <div class="btn-list justify-content-end">
                                <a href="#" class="btn">
                                    Clear
                                </a>
                                <a href="#" class="btn btn-primary">
                                    บันทึก
                                </a>
                            </div>
                        </div>
                    </div>
                </div>             
            </div>
        </div>
    </div>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const switchElement = document.getElementById('threeStateSwitch');
            let currentState = 'state-na'; // Initial state is set to N/A

            switchElement.addEventListener('click', function () {
                switch (currentState) {
                    case 'state-on':
                        currentState = 'state-na';
                        break;
                    case 'state-na':
                        currentState = 'state-off';
                        break;
                    case 'state-off':
                        currentState = 'state-on';
                        break;
                }

                switchElement.className = `three-state-switch ${currentState}`;
            });
        });
    </script>
</div>

<style>
    .three-state-switch {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 120px;
        height: 30px;
        background-color: #dfdfdf;
        border-radius: 15px;
        position: relative;
        cursor: pointer;
        margin-right: 10px;
    }

    .switch-handle {
        width: 40px;
        height: 100%;
        background-color: #909090;
        border-radius: 15px;
        position: absolute;
        transition: all 0.3s;
    }

    .switch-label {
        width: 40px;
        text-align: center;
        line-height: 30px;
        font-size: 10px;
        z-index: 1;
    }

    .state-on .switch-handle {
        left: 0;
        background-color: #28a745;
    }

    .state-na .switch-handle {
        left: 40px;
        background-color: #C0C0C0;
    }

    .state-off .switch-handle {
        left: 80px;
        background-color: #dc3545;
    }

    .switch-radio-container {
        display: flex;
        align-items: center;
    }
</style>

<style>

    .align-center {
        display: flex;
        align-items: center;
    }

    .align-center .material-icons {
        margin-right: 8px; 
    }

    .card {
        border: none;
        border-radius: 10px
    }

    .c-details span {
        font-weight: 300;
        font-size: 13px
    }

</style>


<link href="~/lib/core-ui/dist/libs/dropzone/dist/dropzone.css?1692870487" rel="stylesheet" />
<link href="~/lib/core-ui/dist/css/tabler-vendors.min.css?1692870487" rel="stylesheet" />
<link href="~/lib/core-ui/dist/css/demo.min.css?1692870487" rel="stylesheet" />
@section scripts{
    
<script src="~/lib/core-ui/dist/js/demo-theme.min.js?1692870487"></script>
<script src="~/js/pages/FormCheckList.js?ver=@DateTime.Now.Ticks.ToString()"></script>
<script src="~/lib/core-ui/dist/js/tabler.min.js?1692870487" defer></script>
<script src="~/lib/core-ui/dist/libs/dropzone/dist/dropzone-min.js?1692870487" defer></script>
<script src="~/lib/core-ui/dist/js/demo.min.js?1692870487" defer></script>
<script src="~/lib/core-ui/dist/js/demo-theme.min.js?1692870487"></script>

<script>

  //      $(document).ready(function () {
  //         form_check_list.init();
  //      });

  //      $(document).ready(function() {
		//$(document).delegate('.open', 'click', function(event){
		//	$(this).addClass('oppenned');
		//	event.stopPropagation();
		//})
		//$(document).delegate('body', 'click', function(event) {
		//	$('.open').removeClass('oppenned');
		//})
		//$(document).delegate('.cls', 'click', function(event){
		//	$('.open').removeClass('oppenned');
		//	event.stopPropagation();
		//});

        document.querySelectorAll('.form-check-input').forEach(function (radio) {
            radio.addEventListener('click', function () {
                if (this.previousChecked) {
                    this.checked = false;
                }
                document.querySelectorAll('.form-check-input').forEach(function (radio) {
                    radio.previousChecked = radio.checked;
                });
            });
        });

        document.addEventListener("DOMContentLoaded", function () {
            new Dropzone("#dropzone-custom")
        })

	});
</script>

}
