<table class=" table table-responsive table-hover table-vcenter card-table text-nowrap" id="tbl-project-list" width="100%">
    <thead>
        <tr class="table-primary">
            <th>รหัสโครงการ</th>
            <th style="text-align: left">ชื่อโครงการ</th>
            <th>วันที่อัพเดท</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody></tbody>
</table>
