@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="modal fade" id="partial-confirm-delete-project" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" data-bs-backdrop="static" data-bs-keyboard="false">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 id="g-form-head" class="modal-title">Delete</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body d-flex justify-content-center align-items-center">
                <!-- Add the confirmation text here -->
                <h3 style="padding-top: 10px;">ยืนยันการลบข้อมูล</h3>
                <!-- Hidden input fields -->
                <input type="hidden" id="delete-project-id" />
            </div>
            <div class="modal-footer">
                <a href="#" class="btn btn-link link-secondary" data-bs-dismiss="modal">
                    ยกเลิก
                </a>
                <button id="project-delete-save" href="#" class="btn btn-danger ms-auto" data-bs-dismiss="modal">
                    ยืนยัน
                </button>
            </div>
        </div>
    </div>
</div>