@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutSite.cshtml";
}

<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>

<style>
    .fixed-size-btn {
        width: 80px;
        height: 30px;
    }

    .card {
        border: none;
        border-radius: 10px;
    }

    .status-dot {
        width: 35px;
        height: 35px;
        border-radius: 50%;
        color: white;
        border: none;
        outline: none;
    }

    .status-text {
        font-size: 1em;
    }

    .text-yellow {
        color: yellow;
    }

    .custom-heading {
        line-height: 1.2;
    }

    .fixedButton {
        position: fixed;
        bottom: 20px;
        right: 20px; 
        padding: 20px;
        z-index: 9999; 
        background-color: white; 
        border-radius: 50%; 
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); 
        border: none;
    }

    #insert-new-qc5{
        z-index: 9999;
    }

    .image-preview {
            display: flex;
            flex-wrap: wrap;
            gap: 10px;
     }
    .image-preview img {
        max-width: 100px;
        max-height: 100px;
        object-fit: cover;
    }
    .image-preview .remove-btn {
        display: block;
        text-align: center;
        margin-top: 5px;
    }

    .signature-pad {
        border: 1px solid #ccc;
        border-radius: 5px;
        width: 100%;
        height: 200px;
        position: relative;
        cursor: crosshair;
    }

    canvas {
        width: 100%;
        height: 100%;
    }

    .autocomplete-items {
        position: absolute;
        border: 1px solid #d4d4d4;
        border-bottom: none;
        border-top: none;
        z-index: 99;
        background-color: #fff;
        max-height: 200px;
        overflow-y: auto;
    }

    .autocomplete-item {
        padding: 10px;
        cursor: pointer;
    }

        .autocomplete-item:hover {
            background-color: #e9e9e9;
        }

    .autocomplete-active {
        background-color: #e9e9e9 !important;
    }
</style>


<button class="fixedButton" onclick="openModalDataQC('add')">
    <i class="fa-solid fa-plus fa-xl"></i>
</button>

<div class="page-wrapper">
    <!-- Page header -->
    <div class="page-header d-print-none">
        <div class="card bg-primary text-primary-fg">
            <div class="card-stamp">
                <div class="card-stamp-icon bg-white text-primary">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-home-heart">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                        <path d="M21 12l-9 -9l-9 9h2v7a2 2 0 0 0 2 2h6" />
                        <path d="M9 21v-6a2 2 0 0 1 2 -2h2c.39 0 .754 .112 1.061 .304" />
                        <path d="M19 21.5l2.518 -2.58a1.74 1.74 0 0 0 0 -2.413a1.627 1.627 0 0 0 -2.346 0l-.168 .172l-.168 -.172a1.627 1.627 0 0 0 -2.346 0a1.74 1.74 0 0 0 0 2.412l2.51 2.59z" />
                    </svg>
                </div>
            </div>
            <div class="card-body">
                <div class="d-flex justify-content-between">
                    <div class="d-flex flex-row align-items-baseline">
                        <form asp-controller="SummaryUnitQC" asp-action="index">
                            <button class="status-dot bg-transparent">
                                <i class="fa-solid fa-chevron-left fa-xl" style="color: #f7f7f7;"></i>
                            </button>
                        </form>
                    </div>
                    <div class="d-block d-sm-flex align-items-baseline custom-heading">
                        <h1 class="mb-0 header-text">Unit : A008</h1>
                        <div class="text-muted">
                            <h5 class="text-yellow d-block d-sm-inline ms-sm-2 mb-0">ดิ ออเนอร์ โยธินพัฒนา (สถานะ : สัญญา)</h5>
                        </div>
                    </div>
                    <div class="align-items-right">
                        <button class="status-dot bg-transparent">

                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Page body -->
    <div class="page-body">
        <div class="container mt-1 mb-3">
            <div class="row">
                <div class="col-12 col-sm-4 mb-3">
                    <div class="row">
                        <div class="col-12">
                            <div class="card">
                                <div class="card-header">
                                    <ol class="breadcrumb">
                                        <li class="breadcrumb-item"><a href="#">QC 5</a></li>
                                        <li class="breadcrumb-item" aria-current="page">ตรวจครั้งที่ 3</li>
                                        <li class="breadcrumb-item" aria-current="page">ผู้ตรวจ : นายตาดี สมองไว </li>
                                    </ol>
                                </div>
                                <div class="card-body">
                                    <div class="form-group">
                                        <label class="form-check form-check-inline">
                                            <input class="form-check-input allow-deselect" type="radio" name="radios-inline-0" id="radio1">
                                            <span class="form-check-label">ผู้รับเหมาไม่พร้อมให้ตรวจ</span>
                                        </label>
                                        <label class="form-check form-check-inline">
                                            <input class="form-check-input allow-deselect" type="radio" name="radios-inline-0" id="radio2">
                                            <span class="form-check-label">ผ่านแบบมีเงื่อนไข</span>
                                        </label>
                                    </div>
                                    <div id="collapseSection" class="collapse">
                                        <label class="form-label mb-1">
                                            <textarea class="form-control" rows="2" placeholder="ความคิดเห็น"></textarea>
                                        </label>
                                        <div class="form-label mt-4">
                                            <div class="row">
                                                <div class="col-12">
                                                    <input class="form-control" type="file" id="imageInput" multiple>
                                                </div>
                                                <div class="col-12 mt-3">
                                                    <div class="image-preview" id="imagePreview"></div>
                                                </div>
                                            </div>
                                        </div>
                                        <label class="form-label mb-1">
                                            <button class="btn btn-success w-100">Save</button>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 mt-3 d-none d-md-block">
                            <div class="card">
                                <div class="card-header">
                                    <ol class="breadcrumb">
                                        <li class="breadcrumb-item" aria-current="page">
                                            สรุปจำนวน
                                        </li>
                                    </ol>
                                </div>
                                <div class="card-body">
                                    <div class="col-12">
                                        <ul>
                                            <li>
                                                จำนวนรายการจากครั้งที่ 1 : 2 รายการ
                                            </li>
                                            <li>
                                                จำนวนรายการจากครั้งที่ 2 : 1 รายการ
                                            </li>
                                            <li>
                                                จำนวนรายการจากครั้งที่ 3 : 0 รายการ
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="col-12">
                                        <div class="row">
                                            <div class="col-12">
                                                <div class="row">
                                                    <div class="col-12 text-yellow">รายการทั้งหมด  : 3 รายการ</div>
                                                </div>
                                            </div>
                                            <div class="col-12">
                                                <div class="row">
                                                    <div class="text-green">ผ่าน : 0 รายการ</div>
                                                    <div class="text-red">ไม่ผ่าน : 2 รายการ</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 mt-3">
                                        <button class="btn btn-warning w-100" data-bs-toggle="modal" data-bs-target="#SignalModal">วิศวกรควบคุมงานลงนาม</button>
                                    </div>
                                    <div class="col-12 mt-3">
                                        <div class="row">
                                            <div class="col-4">
                                                <button class="btn btn-success w-100">Save</button>
                                            </div>
                                            <div class="col-4">
                                                <button class="btn btn-primary w-100">Submit</button>
                                            </div>
                                            <div class="col-4">
                                                <button class="btn btn-secondary w-100">ดูเอกสารตรวจ</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>                   
                </div>
                <div class="col">
                    <div class="row">
                        <div class="col-12 col-sm-6 mt-1">
                            <div class="card">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-12">
                                            <div class="d-flex justify-content-between">
                                                <div class="d-flex flex-row align-items-center">
                                                        <button class="status-dot bg-secondary" onclick="openModal()">
                                                            <i class="fa-regular fa-image"></i>
                                                        </button>
                                                    <div class="ms-2 c-details">
                                                        <h3 class="mb-0">
                                                            รายการที่ 1
                                                        </h3>
                                                    </div>
                                                </div>
                                                <div class="align-items-right">
                                                    <button class="status-dot bg-primary" onclick="openModalDataQC('edit', {id: 1, location: 1, category: 1, defect: 1, comment: 'Sample comment'})">
                                                        <i class="fa-solid fa-pen-to-square"></i>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-12">
                                            <ul>
                                                <li>ตำแหน่ง : ห้องรับแขก</li>
                                                <li>หมวดงาน : พื้นลามิเนต</li>
                                                <li>รายการแก้ไข : ปูไม่เรียบ</li>
                                            </ul>
                                        </div>
                                        <div class="col-12">
                                             <textarea class="form-control" rows="2" disabled placeholder="ความคิดเห็น">ตรงมุมห้องทุกด้าน</textarea>
                                        </div>
                                        <div class="col-12 mt-2">
                                             <label class="form-check form-check-inline">
                                                <input class="form-check-input" type="radio" name="radios-inline-1">
                                                <span class="form-check-label">ผ่าน</span>
                                            </label>
                                            <label class="form-check form-check-inline">
                                                <input class="form-check-input" type="radio" name="radios-inline-1">
                                                <span class="form-check-label">ไม่ผ่าน</span>
                                            </label>
                                        </div>
                                    </div>                               
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-sm-6 mt-1">
                            <div class="card">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-12">
                                            <div class="d-flex justify-content-between">
                                                <div class="d-flex flex-row align-items-center">
                                                    <button class="status-dot bg-secondary" onclick="openModal()">
                                                        <i class="fa-regular fa-image"></i>
                                                    </button>
                                                    <div class="ms-2 c-details">
                                                        <h3 class="mb-0">
                                                            รายการที่ 2
                                                            <i class="fa-solid fa-triangle-exclamation fa-xl" style="color: #f60404;"></i>
                                                        </h3>
                                                    </div>
                                                </div>
                                                <div class="align-items-right">
                                                    <button class="status-dot bg-primary" onclick="openModalDataQC('edit', {id: 1, location: 1, category: 1, defect: 1, comment: 'Sample comment'})">
                                                        <i class="fa-solid fa-pen-to-square"></i>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-12">
                                            <ul>
                                                <li>ตำแหน่ง : ห้องรับแขก</li>
                                                <li>หมวดงาน : ผนัง</li>
                                                <li>รายการแก้ไข : ทาสีไม่เรียบร้อย</li>
                                            </ul>
                                        </div>
                                        <div class="col-12">
                                            <textarea class="form-control" rows="2" disabled placeholder="ความคิดเห็น">ตรงมุมห้องทุกด้าน</textarea>
                                        </div>
                                        <div class="col-12 mt-2">
                                            <label class="form-check form-check-inline">
                                                <input class="form-check-input" type="radio" name="radios-inline-1">
                                                <span class="form-check-label">ผ่าน</span>
                                            </label>
                                            <label class="form-check form-check-inline">
                                                <input class="form-check-input" type="radio" name="radios-inline-1">
                                                <span class="form-check-label">ไม่ผ่าน</span>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-sm-6 mt-1">
                            <div class="card">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-12">
                                            <div class="d-flex justify-content-between">
                                                <div class="d-flex flex-row align-items-center">
                                                    <button class="status-dot bg-secondary" onclick="openModal()">
                                                        <i class="fa-regular fa-image"></i>
                                                    </button>
                                                    <div class="ms-2 c-details">
                                                        <h3 class="mb-0">
                                                            รายการที่ 3
                                                        </h3>
                                                    </div>
                                                </div>
                                                <div class="align-items-right">
                                                    <button class="status-dot bg-primary" onclick="openModalDataQC('edit', {id: 1, location: 1, category: 1, defect: 1, comment: 'Sample comment'})">
                                                        <i class="fa-solid fa-pen-to-square"></i>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-12">
                                            <ul>
                                                <li>ตำแหน่ง : ห้องรับแขก</li>
                                                <li>หมวดงาน : ฟ่า</li>
                                                <li>รายการแก้ไข : ฟ่ามีรูรั่ว</li>
                                            </ul>
                                        </div>
                                        <div class="col-12">
                                            <textarea class="form-control" rows="2" disabled placeholder="ความคิดเห็น"></textarea>
                                        </div>
                                        <div class="col-12 mt-2">
                                            <label class="form-check form-check-inline">
                                                <input class="form-check-input" type="radio" name="radios-inline-1">
                                                <span class="form-check-label">ผ่าน</span>
                                            </label>
                                            <label class="form-check form-check-inline">
                                                <input class="form-check-input" type="radio" name="radios-inline-1">
                                                <span class="form-check-label">ไม่ผ่าน</span>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>                           
                        </div>
                        <div class="col-12 mt-3 d-block d-md-none">
                            <div class="card">
                                <div class="card-header">
                                    <ol class="breadcrumb">
                                        <li class="breadcrumb-item" aria-current="page">
                                            สรุปจำนวน
                                        </li>
                                    </ol>
                                </div>
                                <div class="card-body">
                                    <div class="col-12">
                                        <ul>
                                            <li>
                                                จำนวนรายการจากครั้งที่ 1 : 2 รายการ
                                            </li>
                                            <li>
                                                จำนวนรายการจากครั้งที่ 2 : 1 รายการ
                                            </li>
                                            <li>
                                                จำนวนรายการจากครั้งที่ 3 : 0 รายการ
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="col-12">
                                        <div class="row">
                                            <div class="col-12">
                                                <div class="row">
                                                    <div class="col-12 text-yellow">รายการทั้งหมด  : 3 รายการ</div>
                                                </div>
                                            </div>
                                            <div class="col-12">
                                                <div class="row">
                                                    <div class="text-green">ผ่าน : 0 รายการ</div>
                                                    <div class="text-red">ไม่ผ่าน : 2 รายการ</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 mt-3">
                                        <button class="btn btn-warning w-100" data-bs-toggle="modal" data-bs-target="#SignalModal">วิศวกรควบคุมงานลงนาม</button>
                                    </div>
                                    <div class="col-12 mt-3">
                                        <div class="row">
                                            <div class="col-4">
                                                <button class="btn btn-success w-100">Save</button>
                                            </div>
                                            <div class="col-4">
                                                <button class="btn btn-primary w-100">Submit</button>
                                            </div>
                                            <div class="col-4">
                                                <button class="btn btn-secondary w-100">ดูเอกสารตรวจ</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">รูปภาพ</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="row g-2 g-md-3">
                        <div class="col-6">
                            <a data-fslightbox="gallery" href="~/img/img11.jpg">
                                <img src="~/img/img11.jpg" alt="..." class="img-thumbnail">
                            </a>
                        </div>
                        <div class="col-6">
                            <a data-fslightbox="gallery" href="~/img/img12.jpg">
                                <img src="~/img/img12.jpg" alt="..." class="img-thumbnail">
                            </a>
                        </div>
                        <div class="col-6">
                            <a data-fslightbox="gallery" href="~/img/img13.jpg">
                                <img src="~/img/img13.jpg" alt="..." class="img-thumbnail">
                            </a>
                        </div>
                        <div class="col-6">
                            <a data-fslightbox="gallery" href="~/img/img8.png">
                                <img src="~/img/img8.png" alt="..." class="img-thumbnail">
                            </a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="modal fade" id="insert-new-qc5" tabindex="-1" aria-labelledby="insert-new-qc5-Label" aria-hidden="true" data-bs-keyboard="false" data-bs-backdrop="static">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="insert-new-qc5-Label">เพิ่มข้อมูลรายการ</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="row g-2 g-md-3">
                        <div class="col-12">
                            <input class="form-control" type="file" id="imageInput2" multiple>
                        </div>
                        <div class="col-12 mt-3">
                            <div class="image-preview" id="imagePreview2"></div>
                        </div>
                        <div class="col-12 col-sm-6">
                            <div class="form-label">ตำแหน่ง</div>
                            <select class="form-select" id="locationSelect">
                                <option value="0">กรุณาเลือก</option>
                                <option value="1">ห้องรับแขก</option>
                                <option value="2">ห้องครัว</option>
                                <option value="3">ห้องน้ำ</option>
                                <option value="4">ห้องครัว</option>
                            </select>
                        </div>
                        <div class="col-12 col-sm-6">
                            <div class="form-label">หมวดงาน</div>
                            <select class="form-select" id="categorySelect">
                                <option value="0">กรุณาเลือก</option>
                                <option value="1">พื้นลามิเนต</option>
                                <option value="2">ผนัง</option>
                                <option value="3">พื้น</option>
                                <option value="4">หน้าต่าง</option>
                            </select>
                        </div>
                        <div class="col-12 col-sm-6">
                            <div class="form-label">รายการ defect</div>
                            <select class="form-select" id="defectSelect">
                                <option value="0">กรุณาเลือก</option>
                                <option value="1">ปูไม่เรียบ</option>
                                <option value="2">รอยร้าวขนาดใหญ่</option>
                                <option value="3">ฟ่า</option>
                                <option value="-1">อื่นๆ</option>
                            </select>
                        </div>
                        <div class="col-12 col-sm-6" id="otherDefectDiv" style="display:none;">
                            <div class="form-label">อื่นๆ ระบุ</div>
                            <input type="text" class="form-control" id="otherDefectInput" placeholder="กรุณาระบุ">
                        </div>
                        <div class="col-12">
                            <div class="form-label">ความเห็น</div>
                            <textarea class="form-control" id="commentTextarea" rows="2" placeholder="ความคิดเห็น"></textarea>
                        </div>
                        <div class="col-12">
                            <label class="form-check">
                                <input class="form-check-input" type="checkbox" id="majorDefectCheckbox">
                                <span class="form-check-label text-danger">เป็น Major Defect</span>
                            </label>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn me-auto" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" id="saveButton" data-bs-dismiss="modal">Save</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="SignalModal" tabindex="-1" aria-labelledby="SignalModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="SignalModalLabel">ผู้รับเหมาลงนาม</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-12">
                            <form autocomplete="off">
                                <div class="mb-3 position-relative">
                                    <label for="myInput" class="form-label">เลือกผู้รับเหมา</label>
                                    <input id="myInput" type="text" class="form-control" placeholder="Type to search...">
                                </div>
                            </form>
                        </div>
                        <div class="col-12 mt-2">
                            <div class="signature-pad">
                                <canvas id="signatureCanvas"></canvas>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button id="clearBtn" class="btn btn-danger mt-2">Clear</button>
                    <button type="button" class="btn btn-primary">Save</button>
                </div>
            </div>
        </div>
    </div>

</div>

<script>
    const canvas = document.getElementById('signatureCanvas');
    const ctx = canvas.getContext('2d');
    let isDrawing = false;

    canvas.addEventListener('mousedown', () => {
        isDrawing = true;
        ctx.beginPath();
    });

    canvas.addEventListener('mousemove', (event) => {
        if (isDrawing) {
            ctx.lineTo(event.offsetX, event.offsetY);
            ctx.stroke();
        }
    });

    canvas.addEventListener('mouseup', () => {
        isDrawing = false;
    });

    canvas.addEventListener('mouseleave', () => {
        isDrawing = false;
    });

    document.getElementById('clearBtn').addEventListener('click', () => {
        ctx.clearRect(0, 0, canvas.width, canvas.height);
    });

    window.addEventListener('resize', resizeCanvas);

    function resizeCanvas() {
        canvas.width = canvas.offsetWidth;
        canvas.height = canvas.offsetHeight;
    }

    resizeCanvas();
</script>
<script>
    function autocomplete(input, array) {
        var currentFocus;
        input.addEventListener("input", function () {
            var a, b, i, val = this.value;
            closeAllLists();
            if (!val) { return false; }
            currentFocus = -1;
            a = document.createElement("div");
            a.setAttribute("id", this.id + "autocomplete-list");
            a.setAttribute("class", "autocomplete-items");
            this.parentNode.appendChild(a);
            for (i = 0; i < array.length; i++) {
                if (array[i].substr(0, val.length).toUpperCase() == val.toUpperCase()) {
                    b = document.createElement("div");
                    b.setAttribute("class", "autocomplete-item");
                    b.innerHTML = "<strong>" + array[i].substr(0, val.length) + "</strong>";
                    b.innerHTML += array[i].substr(val.length);
                    b.innerHTML += "<input type='hidden' value='" + array[i] + "'>";
                    b.addEventListener("click", function () {
                        input.value = this.getElementsByTagName("input")[0].value;
                        closeAllLists();
                    });
                    a.appendChild(b);
                }
            }
        });
        input.addEventListener("keydown", function (e) {
            var x = document.getElementById(this.id + "autocomplete-list");
            if (x) x = x.getElementsByClassName("autocomplete-item");
            if (e.keyCode == 40) {
                currentFocus++;
                addActive(x);
            } else if (e.keyCode == 38) {
                currentFocus--;
                addActive(x);
            } else if (e.keyCode == 13) {
                e.preventDefault();
                if (currentFocus > -1) {
                    if (x) x[currentFocus].click();
                }
            }
        });
        function addActive(x) {
            if (!x) return false;
            removeActive(x);
            if (currentFocus >= x.length) currentFocus = 0;
            if (currentFocus < 0) currentFocus = (x.length - 1);
            x[currentFocus].classList.add("autocomplete-active");
        }
        function removeActive(x) {
            for (var i = 0; i < x.length; i++) {
                x[i].classList.remove("autocomplete-active");
            }
        }
        function closeAllLists(elmnt) {
            var x = document.getElementsByClassName("autocomplete-items");
            for (var i = 0; i < x.length; i++) {
                if (elmnt != x[i] && elmnt != input) {
                    x[i].parentNode.removeChild(x[i]);
                }
            }
        }
        document.addEventListener("click", function (e) {
            closeAllLists(e.target);
        });
    }

    var options = ["บริษัท วิชัยการช่าง จำกัด", "บริษัท วิน อินเวนชั่น จำกัด", "บริษัท ปัญญาฤทธิ์ โฮม คอนสตัคชั่น จำกัด", "บริษัท เอ็น9-ไพล์ เอ็นเตอร์ไพรซ์ จำกัด", "บริษัท พี เอส ซี เอ็ม จำกัด"];
    autocomplete(document.getElementById("myInput"), options);
</script>
<script>
    function adjustTextareaRows() {
        const textareas = document.querySelectorAll('.custom-textarea');
        textareas.forEach(textarea => {
            if (window.innerWidth <= 576) {
                textarea.setAttribute('rows', 3);
            } else {++
                textarea.setAttribute('rows', 2);
            }
        });
    }

    // Initial adjustment
    document.addEventListener('DOMContentLoaded', adjustTextareaRows);

    // Adjust on window resize
    window.addEventListener('resize', adjustTextareaRows);
</script>
<script>

    function openModal() {
        var myModal = new bootstrap.Modal(document.getElementById('exampleModal'));
        myModal.show();
    }

    function openModalDataQC(action, data = null) {
        var myModal = new bootstrap.Modal(document.getElementById('insert-new-qc5'));

        // Set modal title based on action
        var modalTitle = document.getElementById('insert-new-qc5-Label');
        if (action === 'add') {
            modalTitle.textContent = 'เพิ่มข้อมูลรายการ';
            // Reset all form fields for adding new data
            document.getElementById('locationSelect').value = '0';
            document.getElementById('categorySelect').value = '0';
            document.getElementById('defectSelect').value = '0';
            document.getElementById('otherDefectInput').value = '';
            document.getElementById('otherDefectDiv').style.display = 'none';
            document.getElementById('commentTextarea').value = '';
            document.getElementById('majorDefectCheckbox').checked = false;
        } else if (action === 'edit' && data) {
            modalTitle.textContent = 'แก้ไขข้อมูลรายการ';
            // Populate form fields with existing data for editing
            document.getElementById('locationSelect').value = data.location;
            document.getElementById('categorySelect').value = data.category;
            document.getElementById('defectSelect').value = data.defect;
            document.getElementById('commentTextarea').value = data.comment;
            document.getElementById('majorDefectCheckbox').checked = data.majorDefect || false;
            // Show or hide the "other" defect input based on the defect value
            if (data.defect == '-1') {
                document.getElementById('otherDefectDiv').style.display = 'block';
            } else {
                document.getElementById('otherDefectDiv').style.display = 'none';
            }
        }

        // Show the modal
        myModal.show();
    }

    // Show or hide the "other" defect input based on the defect selection
    document.getElementById('defectSelect').addEventListener('change', function () {
        var otherDefectDiv = document.getElementById('otherDefectDiv');
        if (this.value == '-1') {
            otherDefectDiv.style.display = 'block';
        } else {
            otherDefectDiv.style.display = 'none';
        }
    });

    //document.addEventListener('DOMContentLoaded', function () {
    //    document.querySelectorAll('input[type="radio"]').forEach(function (radio) {
    //        let previous = null;
    //        console.log('XX');
    //        radio.addEventListener('click', function () {
    //            if (previous === this) {
    //                this.checked = false;
    //                previous = null;
    //            } else {
    //                previous = this;
    //            }
    //        });
    //    });
    //});

    document.getElementById('imageInput').addEventListener('change', function(event) {
        const files = event.target.files;
        const imagePreview = document.getElementById('imagePreview');
        imagePreview.innerHTML = '';

        for (let i = 0; i < files.length; i++) {
            const file = files[i];
            const reader = new FileReader();

            reader.onload = function(e) {
                const div = document.createElement('div');
                div.classList.add('image-container');
                const img = document.createElement('img');
                img.src = e.target.result;
                img.alt = file.name;
                const removeBtn = document.createElement('button');
                removeBtn.classList.add('btn', 'btn-danger', 'btn-sm', 'remove-btn');
                removeBtn.textContent = 'Remove';
                removeBtn.addEventListener('click', function() {
                    imagePreview.removeChild(div);
                });

                div.appendChild(img);
                div.appendChild(removeBtn);
                imagePreview.appendChild(div);
            };

            reader.readAsDataURL(file);
        }
    });

    document.getElementById('imageInput2').addEventListener('change', function(event) {
        const files = event.target.files;
        const imagePreview = document.getElementById('imagePreview2');
        imagePreview.innerHTML = '';

        for (let i = 0; i < files.length; i++) {
            const file = files[i];
            const reader = new FileReader();

            reader.onload = function(e) {
                const div = document.createElement('div');
                div.classList.add('image-container');
                const img = document.createElement('img');
                img.src = e.target.result;
                img.alt = file.name;
                const removeBtn = document.createElement('button');
                removeBtn.classList.add('btn', 'btn-danger', 'btn-sm', 'remove-btn');
                removeBtn.textContent = 'Remove';
                removeBtn.addEventListener('click', function() {
                    imagePreview.removeChild(div);
                });

                div.appendChild(img);
                div.appendChild(removeBtn);
                imagePreview.appendChild(div);
            };

            reader.readAsDataURL(file);
        }
    });

</script>
<script>
    $(() => {
        // Add class 'checked' to checked radio buttons on load
        addCheckedToCheckedRadio();
        // Initial check for collapse section
        toggleCollapseSection();

        // Bind click event to allow deselecting radio buttons
        $('input[type="radio"].allow-deselect').click(function (event) {
            if ($(this).hasClass('checked')) {
                this.checked = false;
            }
            addCheckedToCheckedRadio();
            toggleCollapseSection();
        });
    });

    function addCheckedToCheckedRadio() {
        $('input[type="radio"].allow-deselect').each(function () {
            $(this).toggleClass('checked', this.checked);
        });
    }

    function toggleCollapseSection() {
        if ($('input[type="radio"].allow-deselect:checked').length > 0) {
            $('#collapseSection').collapse('show');
        } else {
            $('#collapseSection').collapse('hide');
        }
    }
</script>

<script src="https://kit.fontawesome.com/21fea36ed8.js" crossorigin="anonymous"></script>
<script src="~/lib/core-ui/dist/libs/fslightbox/index.js?1692870487" defer></script>