<div class="card">
    <div class="card-header">
        <ol class="breadcrumb">
            <li class="breadcrumb-item" aria-current="page">
                สรุปจำนวน
            </li>
        </ol>
    </div>
    <div class="card-body">
        <div class="col-12">
            <ul>
                <li>จำนวนรายการจากครั้งที่ 1 : 2 รายการ</li>
                <li>จำนวนรายการจากครั้งที่ 2 : 1 รายการ</li>
                <li>จำนวนรายการจากครั้งที่ 3 : 0 รายการ</li>
            </ul>
        </div>
        <div class="col-12">
            <div class="row">
                <div class="col-12">
                    <div class="row">
                        <div class="col-12 text-yellow">รายการทั้งหมด  : 3 รายการ</div>
                    </div>
                </div>
                <div class="col-12">
                    <div class="row">
                        <div class="text-green">ผ่าน : 0 รายการ</div>
                        <div class="text-red">ไม่ผ่าน : 2 รายการ</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 mt-3">
            <button class="btn btn-warning w-100" 
                    data-bs-toggle="modal" 
                    data-bs-target="#SignalModal"
            >วิศวกรควบคุมงานลงนาม</button>
        </div>
        @if (ViewBag.QC5UnitChecklistID != null)
        {
            <div class="col-12 mt-3">
                <div class="row">
                    <div class="col-4">
                        <button type="button" class="btn btn-success w-100" id="btn-save-QC5" onclick="saveUnitQC5()">บันทึกร่าง</button>
                    </div>
                    <div class="col-4">
                        <button class="btn btn-primary w-100">ยืนยัน</button>
                    </div>
                    <div class="col-4">
                        <button class="btn btn-secondary w-100">ดูเอกสารตรวจ</button>
                    </div>
                </div>
            </div>
        }       
    </div>
</div>
