@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutSite.cshtml";
}
<link href="https://stackpath.bootstrapcdn.com/bootstrap/5.3.0/css/bootstrap.min.css" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap" rel="stylesheet">

<link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500&display=swap" rel="stylesheet">
<link href="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.6.1/css/bootstrap4-toggle.min.css" rel="stylesheet">
<style>
    .fixed-size-btn {
        width: 80px;
        height: 30px;
    }

    .card {
        border: none;
        border-radius: 10px;
    }

    .status-dot {
        width: 35px;
        height: 35px;
        border-radius: 50%;
        color: white;
        border: none;
        outline: none;
    }

    .status-text {
        font-size: 1em;
    }

    .text-yellow {
        color: yellow;
    }

    .custom-heading {
        line-height: 1.2;
    }
    
     .image-preview {
            display: flex;
            flex-wrap: wrap;
            gap: 10px;
     }
    .image-preview img {
        max-width: 100px;
        max-height: 100px;
        object-fit: cover;
    }
    .image-preview .remove-btn {
        display: block;
        text-align: center;
        margin-top: 5px;
    }

    .signature-pad {
        border: 1px solid #ccc;
        border-radius: 5px;
        width: 100%;
        height: 200px;
        position: relative;
        cursor: crosshair;
    }

    canvas {
        width: 100%;
        height: 100%;
    }

    .autocomplete-items {
        position: absolute;
        border: 1px solid #d4d4d4;
        border-bottom: none;
        border-top: none;
        z-index: 99;
        background-color: #fff;
        max-height: 200px;
        overflow-y: auto;
    }

    .autocomplete-item {
        padding: 10px;
        cursor: pointer;
    }

        .autocomplete-item:hover {
            background-color: #e9e9e9;
        }

    .autocomplete-active {
        background-color: #e9e9e9 !important;
    }

</style>
<div class="page-wrapper">
    <!-- Page header -->
    <div class="page-header d-print-none">
        <div class="card bg-primary text-primary-fg">
            <div class="card-stamp">
                <div class="card-stamp-icon bg-white text-primary">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-home-heart">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                        <path d="M21 12l-9 -9l-9 9h2v7a2 2 0 0 0 2 2h6" />
                        <path d="M9 21v-6a2 2 0 0 1 2 -2h2c.39 0 .754 .112 1.061 .304" />
                        <path d="M19 21.5l2.518 -2.58a1.74 1.74 0 0 0 0 -2.413a1.627 1.627 0 0 0 -2.346 0l-.168 .172l-.168 -.172a1.627 1.627 0 0 0 -2.346 0a1.74 1.74 0 0 0 0 2.412l2.51 2.59z" />
                    </svg>
                </div>
            </div>
            <div class="card-body">
                <div class="d-flex justify-content-between">
                    <div class="d-flex flex-row align-items-baseline">
                        <form asp-controller="SummaryUnitQC" asp-action="index">
                            <button class="status-dot bg-transparent">
                                <i class="fa-solid fa-chevron-left fa-xl" style="color: #f7f7f7;"></i>
                            </button>
                        </form>
                    </div>
                    <div class="d-block d-sm-flex align-items-baseline custom-heading">
                        <h1 class="mb-0 header-text">Unit : A008</h1>
                        <div class="text-muted">
                            <h5 class="text-yellow d-block d-sm-inline ms-sm-2 mb-0">ดิ ออเนอร์ โยธินพัฒนา (สถานะ : สัญญา)</h5>
                        </div>
                    </div>
                    <div class="align-items-right">
                        <button class="status-dot bg-transparent">
              
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Page body -->
    <div class="page-body">
        <div class="container mt-1 mb-3">
            <div class="row">
                <div class="col-12 col-sm-5">
                    <div class="row">
                        <div class="col-12">
                            <div class="card">
                                <div class="card-header">
                                    <ol class="breadcrumb">
                                        <li class="breadcrumb-item"><a href="#">QC 1</a></li>
                                        <li class="breadcrumb-item" aria-current="page">ตรวจครั้งที่ 1</li>
                                        <li class="breadcrumb-item" aria-current="page">ผู้ตรวจ : นายตาดี สมองไว </li>
                                    </ol>
                                </div>
                                <div class="card-body">
                                    <label class="form-label mb-1">
                                        <label class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" name="radios-inline-1">
                                            <span class="form-check-label">ผู้รับเหมาไม่พร้อมให้ตรวจ</span>
                                        </label>
                                    </label>
                                    <label class="form-label mb-1">
                                          <textarea class="form-control custom-textarea" placeholder="ความคิดเห็น"></textarea>
                                    </label>
                                    <div class="container mt-4">
                                        <div class="row">
                                            <div class="col-12">
                                                <input class="form-control" type="file" id="imageInput" multiple>
                                            </div>
                                            <div class="col-12 mt-3">
                                                <div class="image-preview" id="imagePreview"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 mt-1 d-none d-md-block">
                            <div class="card">
                                <div class="card-body">
                                    <label class="form-label mb-1">
                                        <button class="btn btn-warning w-100" data-bs-toggle="modal" data-bs-target="#SignalModal">วิศวกรควบคุมงานลงนาม</button>
                                    </label>
                                    <div class="col-12 mt-3">
                                        <div class="row">
                                            <div class="col-4">
                                                <button class="btn btn-success w-100">Save</button>
                                            </div>
                                            <div class="col-4">
                                                <button class="btn btn-primary w-100">Submit</button>
                                            </div>
                                            <div class="col-4">
                                                <button class="btn btn-secondary w-100">ดูเอกสารตรวจ</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="row">
                        <div class="card mt-1">
                            <div class="card-body">
                                <div class="mb-2 row">
                                    ระดับหลังคานคสล.ถูกต้องและเรียบสม่ำเสมอ
                                </div>
                                <div class="mb-3 row">
                                    <label class="col-12 col-lg-4 col-form-label mb-1">
                                        <label class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" name="radios-inline-1">
                                            <span class="form-check-label">ผ่าน</span>
                                        </label>
                                        <label class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" name="radios-inline-1">
                                            <span class="form-check-label">ไม่ผ่าน</span>
                                        </label>
                                    </label>
                                    <div class="col mb-1">
                                         <textarea class="form-control custom-textarea" placeholder="ความคิดเห็น"></textarea>
                                    </div>
                                    <div class="col-12">
                                        <div class="row">
                                            <div class="col-12">
                                                <input class="form-control" type="file" id="imageInput" multiple>
                                            </div>
                                            <div class="col-12">
                                                <div class="image-preview" id="imagePreview"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card mt-1">
                            <div class="card-body">
                                <div class="mb-2 row">
                                    แนวข้างคาน ได้แนว ไม่คดหรือบิด โก่ง บวม
                                </div>
                                <div class="mb-3 row">
                                    <label class="col-12 col-lg-4 col-form-label mb-1">
                                        <label class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" name="radios-inline-2">
                                            <span class="form-check-label">ผ่าน</span>
                                        </label>
                                        <label class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" name="radios-inline-2">
                                            <span class="form-check-label">ไม่ผ่าน</span>
                                        </label>
                                    </label>
                                    <div class="col mb-1">
                                         <textarea class="form-control custom-textarea" placeholder="ความคิดเห็น"></textarea>
                                    </div>
                                    <div class="col-12">
                                        <div class="row">
                                            <div class="col-12">
                                                <input class="form-control" type="file" id="imageInput" multiple>
                                            </div>
                                            <div class="col-12">
                                                <div class="image-preview" id="imagePreview"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card mt-1">
                            <div class="card-body">
                                <div class="mb-2 row">
                                     หล่อหูช้างคสล. รับแผ่นพื้นฯครบถ้วนและถูกต้องตามมาตรฐาน
                                </div>
                                <div class="mb-3 row">
                                    <label class="col-12 col-lg-4 col-form-label mb-1">
                                        <label class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" name="radios-inline-3">
                                            <span class="form-check-label">ผ่าน</span>
                                        </label>
                                        <label class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" name="radios-inline-3">
                                            <span class="form-check-label">ไม่ผ่าน</span>
                                        </label>
                                    </label>
                                    <div class="col mb-1">
                                        <textarea class="form-control custom-textarea" placeholder="ความคิดเห็น"></textarea>
                                    </div>
                                    <div class="col-12">
                                        <div class="row">
                                            <div class="col-12">
                                                <input class="form-control" type="file" id="imageInput" multiple>
                                            </div>
                                            <div class="col-12">
                                                <div class="image-preview" id="imagePreview"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card mt-3 d-block d-md-none">
                            <div class="card">
                                <div class="card-body">
                                    <label class="form-label mb-1">
                                        <button class="btn btn-warning w-100" data-bs-toggle="modal" data-bs-target="#SignalModal">วิศวกรควบคุมงานลงนาม</button>
                                    </label>
                                    <div class="col-12 mt-3">
                                        <div class="row">
                                            <div class="col-4">
                                                <button class="btn btn-success w-100">Save</button>
                                            </div>
                                            <div class="col-4">
                                                <button class="btn btn-primary w-100">Submit</button>
                                            </div>
                                            <div class="col-4">
                                                <button class="btn btn-secondary w-100">ดูเอกสารตรวจ</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">รูปภาพ</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="row g-2 g-md-3">
                        <div class="col-6">
                            <a data-fslightbox="gallery" href="~/img/img11.jpg">
                                <img src="~/img/img11.jpg" alt="..." class="img-thumbnail">
                            </a>
                        </div>
                        <div class="col-6">
                            <a data-fslightbox="gallery" href="~/img/img12.jpg">
                                <img src="~/img/img12.jpg" alt="..." class="img-thumbnail">
                            </a>
                        </div>
                        <div class="col-6">
                            <a data-fslightbox="gallery" href="~/img/img13.jpg">
                                <img src="~/img/img13.jpg" alt="..." class="img-thumbnail">
                            </a>
                        </div>
                        <div class="col-6">
                            <a data-fslightbox="gallery" href="~/img/img8.png">
                                <img src="~/img/img8.png" alt="..." class="img-thumbnail">
                            </a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="SignalModal" tabindex="-1" aria-labelledby="SignalModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="SignalModalLabel">ผู้รับเหมาลงนาม</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-12">
                            <form autocomplete="off">
                                <div class="mb-3 position-relative">
                                    <label for="myInput" class="form-label">เลือกผู้รับเหมา</label>
                                    <input id="myInput" type="text" class="form-control" placeholder="Type to search...">
                                </div>
                            </form>
                        </div>
                        <div class="col-12 mt-2">
                            <div class="signature-pad">
                                <canvas id="signatureCanvas"></canvas>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button id="clearBtn" class="btn btn-danger mt-2">Clear</button>
                    <button type="button" class="btn btn-primary">Save</button>
                </div>
            </div>
        </div>
    </div>
    
</div>

<script>
        const canvas = document.getElementById('signatureCanvas');
        const ctx = canvas.getContext('2d');
        let isDrawing = false;

        canvas.addEventListener('mousedown', () => {
            isDrawing = true;
            ctx.beginPath();
        });

        canvas.addEventListener('mousemove', (event) => {
            if (isDrawing) {
                ctx.lineTo(event.offsetX, event.offsetY);
                ctx.stroke();
            }
        });

        canvas.addEventListener('mouseup', () => {
            isDrawing = false;
        });

        canvas.addEventListener('mouseleave', () => {
            isDrawing = false;
        });

        document.getElementById('clearBtn').addEventListener('click', () => {
            ctx.clearRect(0, 0, canvas.width, canvas.height);
        });

        window.addEventListener('resize', resizeCanvas);

        function resizeCanvas() {
            canvas.width = canvas.offsetWidth;
            canvas.height = canvas.offsetHeight;
        }

        resizeCanvas();
</script>

<script>

    function openModal() {
        var myModal = new bootstrap.Modal(document.getElementById('exampleModal'));
        myModal.show();
    }

    document.addEventListener('DOMContentLoaded', function () {
        document.querySelectorAll('input[type="radio"]').forEach(function (radio) {
            let previous = null;
            radio.addEventListener('click', function () {
                if (previous === this) {
                    this.checked = false;
                    previous = null;
                } else {
                    previous = this;
                }
            });
        });
    });

    document.getElementById('imageInput').addEventListener('change', function(event) {
        const files = event.target.files;
        const imagePreview = document.getElementById('imagePreview');
        imagePreview.innerHTML = '';

        for (let i = 0; i < files.length; i++) {
            const file = files[i];
            const reader = new FileReader();

            reader.onload = function(e) {
                const div = document.createElement('div');
                div.classList.add('image-container');
                const img = document.createElement('img');
                img.src = e.target.result;
                img.alt = file.name;
                const removeBtn = document.createElement('button');
                removeBtn.classList.add('btn', 'btn-danger', 'btn-sm', 'remove-btn');
                removeBtn.textContent = 'Remove';
                removeBtn.addEventListener('click', function() {
                    imagePreview.removeChild(div);
                });

                div.appendChild(img);
                div.appendChild(removeBtn);
                imagePreview.appendChild(div);
            };

            reader.readAsDataURL(file);
        }
    });

</script>

<script>
    function autocomplete(input, array) {
        var currentFocus;
        input.addEventListener("input", function () {
            var a, b, i, val = this.value;
            closeAllLists();
            if (!val) { return false; }
            currentFocus = -1;
            a = document.createElement("div");
            a.setAttribute("id", this.id + "autocomplete-list");
            a.setAttribute("class", "autocomplete-items");
            this.parentNode.appendChild(a);
            for (i = 0; i < array.length; i++) {
                if (array[i].substr(0, val.length).toUpperCase() == val.toUpperCase()) {
                    b = document.createElement("div");
                    b.setAttribute("class", "autocomplete-item");
                    b.innerHTML = "<strong>" + array[i].substr(0, val.length) + "</strong>";
                    b.innerHTML += array[i].substr(val.length);
                    b.innerHTML += "<input type='hidden' value='" + array[i] + "'>";
                    b.addEventListener("click", function () {
                        input.value = this.getElementsByTagName("input")[0].value;
                        closeAllLists();
                    });
                    a.appendChild(b);
                }
            }
        });
        input.addEventListener("keydown", function (e) {
            var x = document.getElementById(this.id + "autocomplete-list");
            if (x) x = x.getElementsByClassName("autocomplete-item");
            if (e.keyCode == 40) {
                currentFocus++;
                addActive(x);
            } else if (e.keyCode == 38) {
                currentFocus--;
                addActive(x);
            } else if (e.keyCode == 13) {
                e.preventDefault();
                if (currentFocus > -1) {
                    if (x) x[currentFocus].click();
                }
            }
        });
        function addActive(x) {
            if (!x) return false;
            removeActive(x);
            if (currentFocus >= x.length) currentFocus = 0;
            if (currentFocus < 0) currentFocus = (x.length - 1);
            x[currentFocus].classList.add("autocomplete-active");
        }
        function removeActive(x) {
            for (var i = 0; i < x.length; i++) {
                x[i].classList.remove("autocomplete-active");
            }
        }
        function closeAllLists(elmnt) {
            var x = document.getElementsByClassName("autocomplete-items");
            for (var i = 0; i < x.length; i++) {
                if (elmnt != x[i] && elmnt != input) {
                    x[i].parentNode.removeChild(x[i]);
                }
            }
        }
        document.addEventListener("click", function (e) {
            closeAllLists(e.target);
        });
    }

    var options = ["บริษัท วิชัยการช่าง จำกัด", "บริษัท วิน อินเวนชั่น จำกัด", "บริษัท ปัญญาฤทธิ์ โฮม คอนสตัคชั่น จำกัด", "บริษัท เอ็น9-ไพล์ เอ็นเตอร์ไพรซ์ จำกัด", "บริษัท พี เอส ซี เอ็ม จำกัด"];
    autocomplete(document.getElementById("myInput"), options);
</script>

<script>
    function adjustTextareaRows() {
      const textareas = document.querySelectorAll('.custom-textarea');
      textareas.forEach(textarea => {
        if (window.innerWidth <= 576) {
          textarea.setAttribute('rows', 3);
        } else {
          textarea.setAttribute('rows', 2);
        }
      });
    }

    // Initial adjustment
    document.addEventListener('DOMContentLoaded', adjustTextareaRows);

    // Adjust on window resize
    window.addEventListener('resize', adjustTextareaRows);
  </script>

<script src="https://kit.fontawesome.com/21fea36ed8.js" crossorigin="anonymous"></script>
<script src="~/lib/core-ui/dist/libs/fslightbox/index.js?1692870487" defer></script>

